.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.form-control {
    min-height: 41px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
}

.form-control:focus {
    border-color: #70c5c0;
}

.form-control, .btn {
    border-radius: 2px;
}

#submitButton {
    float: right;
    background-color: rgb(40, 94, 142);
    color:white;
}
#resetButton {
    margin-right: 10px;
    float: right;
    background-color: #d9534f;
}
#warningButton {
    background-color: #f0ad4e;
    float: right;
    margin-right: 10px;
}

.login-form {
    width: 350px;
    margin: 0 auto;
    padding: 100px 0 30px;
    margin-top: 3%;
}

.login-form form {
    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    position: relative;
}

.login-form h2 {
    font-size: 22px;
    margin: 35px 0 25px;
}

.login-form .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: rgb(50, 118, 177);
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form .avatar img {
    width: 100%;
}

.login-form input[type="checkbox"] {
    margin-top: 2px;
}

.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: rgb(50, 118, 177);
    border: none;
    margin-bottom: 20px;
}

.login-form .btn:hover, .login-form .btn:focus {
    background: #50b8b3;
    outline: none !important;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#manageUsersContainer {
    width: 80%;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: rgb(66,139,202);
    color: white;
}

.header a.active {
    background-color: rgb(50, 118, 177);
    color: white;
}

a#logouttab:hover {
    background-color: rgb(235,93,93);
    color: black;
}

.header-right {
    float: right;
}

p {
     text-align: justify;
}

hr {
    border: 1px solid black;
}

#policeimage {
    width: 3%;
}

.contactlabel {
    color: black;
}

.required {
    color: red;
    font-weight: bold;
}

.black {
    color: black;
 }

.hidetext {
    -webkit-text-security: disc;
}

#loginSubmit{
    background-color: rgb(50, 118, 177);
}

#returnSubmit {
    background-color: #f0ad4e;
    margin:auto;
}

.centererrorbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
}

.errorcontainerfillpage {
    width: 35%;
    margin-top: 15%;
    background-color: red;
}

.errorcontainer{
    width:35%;
    background-color: red;
}

.successcontainer {
    width: 35%;
    background-color: green;
}

.error {
    color: white;
    text-align: center;
    align: center;
}

.success {
    color: white;
    text-align:center;
    align:center;
}

#errorcontainerlogin {
    width:100%;
    background-color: red;
    border-radius: 15px;
}

#successcontainerlogin {
    width: 100%;
    background-color: green;
    border-radius: 15px;
}

#welcomecontainer{
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 8%;
    color: black;
    text-align: center;
}

#managelivefeedcontainer {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
}

.footer {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    color: black;
    margin-top: 4%;
    text-align: center;
}

.welcomefooter {
    margin-top: 14%;
    background-color: #f1f1f1;
    padding: 5px;
    color: black;
    text-align: center;
}

 .country-container {
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 10%;
    text-align: center;
    color: black;
}

.loginfooter {
    margin-top: 7%;
    background-color: #f1f1f1;
    padding: 5px;
    color: black;
    text-align: center;
}

.errorloginfooter{
    margin-top: 19%;
    background-color: #f1f1f1;
    padding: 5px;
    color: black;
    text-align: center;
}

.managefooter {
    margin-top: 6%;
    background-color: #f1f1f1;
    padding: 5px;
    color: black;
    text-align: center;
}

#biography {
    height: 200px;
}

#manageInsertButton {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -20%);
}

#wrap {
    padding: 5%;
    text-align: center;
    width: 100%;
    color: black;
    border-style: solid;
    border-color: black;
}

#left, #right {
     display: inline-block;
     padding: 2%;
     border-style: solid;
     border-color: black;
     color: black;
     text-align: justify;
}



@media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
    }

    .header-right {
    float: none;
    }
}