<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if site_theme == 'Light Theme' %}
        <link rel="stylesheet" href="/static/css/light.css">
    {% endif %}
    {% if site_theme == 'Dark Theme' %}
        <link rel="stylesheet" href="/static/css/dark.css">
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
</nav>

{% if loggedin_role == "" %}
    <div class="login-form">
        <form action="" method="post">
            <div class="avatar">
                <img src="/static/images/avatar.png" alt="Avatar"/>
            </div>
            <h2 class="text-center themeColor">{{ login.platformlogin }}</h2>
            <hr>
            {% if error %}
                <div id="errorcontainerlogin">
                    <p class="error"><strong>{{ messages.error }}</strong>{{ messages.invalidcredentials }}</p>
                </div><br><br>
            {% endif %}
            {% if success %}
                <div id="successcontainerlogin">
                    <p class="success"><strong>{{ success }}</strong></p>
                </div><br><br>
            {% endif %}
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                         <span class="input-group-addon input-group-text primary"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{ login.enteremail }}" name="email" id = "email" value="{{request.form.email}}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-addon input-group-text input-group-text primary"><i class="fa fa-lock fa-lg"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="{{ login.enterpassword }}" name="password" id="password" value="{{request.form.password}}" required>
                </div>
            </div><br>
            <div class="form-group">
                <button type="submit" id="loginSubmit" class="btn btn-primary btn-lg btn-block" value="login">{{ login.login }}</button>
                <input type="button" id="returnSubmit" class="btn btn-warning btn-lg btn-block" value = "{{ login.returnhome }}" onclick="window.location.href = 'welcome';">
            </div>
        </form>
    </div>

    <div class="loginfooter">
        <h4>{{ header.footer }}</h4>
    </div>
{% else %}
    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.alreadyloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'home';">{{ messages.returntohome}}</button>
        </div>
    </div>
    <div class="errorloginfooter">
        <h4>{{ header.footer }}</h4>
    </div>
{% endif %}

</body>

</html>