<!DOCTYPE html>
<html>

<head>
    <title>Manage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container {
              border-radius: 20px;
              background-color: #f2f2f2;
              padding: 20px;
        }

         .country-container {
              border-radius: 20px;
              background-color: #f2f2f2;
              width: 10%;
              text-align: center;
             color: black;
        }
    </style>
</head>

<body style="background-image: url('/static/images/background.jpg')">
{% if login_role == 'ADMIN' %}
    <div class="header">
          <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
          <div class="header-right">
              <a href="home">{{ header.home }}</a>
              {% if login_role == 'ADMIN' %}
                 <a href="manage" class="active">{{ header.manage }}</a>
              {% endif %}
              <a href="live_feed">{{ header.livefeed }}</a>
              <a href="contact">{{ header.contact }}</a>
              <a href="settings">{{ header.settings }}</a>
              <a href="logout" id = "logouttab" class="btn btn-danger" style="color: white;"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
          </div>
    </div>

    <br><br><br>

    <div class="country-container container">
        <div class="dropdown">
            <button class="btn btn-successdropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Language</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item"><img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132503/iflag.jpg" width="20" height="15"> Greek</li>
                <li class="dropdown-item"><img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132504/uflag.jpg" width="20" height="15"> USA</li>
            </ul>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <h1 align="center">{{ manage.panel }}</h1>
        <hr>
        <p>{{ manage.message1 }} <button class="btn btn-success" onclick="window.location.href = 'insert_criminals';">{{ manage.insert }}</button></p>
        <p>{{ manage.message2 }} <button class="btn btn-warning" onclick="window.location.href = 'manage_criminals';">{{ manage.edit }}</button></p>
        <hr>
        <p>{{ manage.message3 }} <button class="btn btn-success" onclick="window.location.href = 'insert_users';">{{ manage.insert }}</button></p>
        <p>{{ manage.message4 }} <button class="btn btn-warning" onclick="window.location.href = 'manage_users';">{{ manage.edit }}</button></p>
    </div>
{% endif %}

{% if login_role == 'USER' %}
    <div class="container errorcontainer" style="margin-top: 20%">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.norightsadmin }}</p>
        <button class="btn btn-primary" onclick="window.location.href = 'home';">{{ messages.returntohome }}</button>
    </div><br><br>
{% endif %}

{% if login_role == '' %}
    <div class="container errorcontainer" style="margin-top: 20%">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.login }}</button>
    </div><br><br>
{% endif %}
</body>

<div class="managefooter">
    <h2>Footer</h2>
</div>

</html>

