<!DOCTYPE html>
<html>

<head>
    <title>Manage Criminals</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if site_theme == 'Light' %}
        <link rel="stylesheet" href="/static/css/light.css">
    {% endif %}
    {% if site_theme == 'Dark' %}
        <link rel="stylesheet" href="/static/css/dark.css">
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script language="JavaScript" type="text/javascript" src="/static/js/manageCriminals.js"></script>
    {% if site_language == 'English' %}
        <script language="JavaScript" type="text/javascript" src="/static/js/validateCriminalsEN.js"></script>
    {% endif %}
    {% if site_language == 'Greek' %}
        <script language="JavaScript" type="text/javascript" src="/static/js/validateCriminalsGR.js"></script>
    {% endif %}
</head>

<body>
{% if loggedin_role == 'ADMIN' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="home">{{ header.home }}</a>
                </li>
                {% if loggedin_role == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="manage">{{ header.manage }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="live_feed">{{ header.livefeed }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">{{ header.contact }}</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ header.welcome }} {{ loggedin_user }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="settings">{{ header.settings }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="logout" id="logouttab" class="btn btn-danger" style="width: 100%"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br>

    {% if error %}
        <div class="container errorcontainer">
            <p class="error"><strong>{{ messages.error }}</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container successcontainer">
            <p class="success"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

    <div class="container">
        <h1 align="center">{{ manageCriminal.manage }}</h1>
        <hr>
        <button id="manageInsertButton" class="btn btn-success" data-toggle="modal" data-target="#insertModal">{{ manage.insert }}</button>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr class="themeColor">
                                <th scope="col">{{ manageCriminal.id }}</th>
                                <th scope="col">{{ manageCriminal.portrait }}</th>
                                <th scope="col">{{ manageCriminal.fullname }}</th>
                                <th scope="col">{{ manageCriminal.age }}</th>
                                <th scope="col">{{ manageCriminal.gender }}</th>
                                <th scope="col">{{ manageCriminal.height }}</th>
                                <th scope="col">{{ manageCriminal.weight }}</th>
                                <th scope="col">{{ manageCriminal.eyecolor }}</th>
                                <th scope="col">{{ manageCriminal.biography }}</th>
                                <th scope="col">{{ manageCriminal.lastlocation }}</th>
                                <th scope="col">{{ manageCriminal.update }}</th>
                                <th scope="col">{{ manageCriminal.delete }}</th>
                            </tr>
                        </thead>
                        <tbody class="themeColor">
                            {% for row in result %}
                                <tr>
                                    <th class="criminal_id" scope="row">{{row.0}}</th>
                                    <td class="criminal_portrait"><img src="{{row.7}}" style="width: 100px; height: 100px;"></td>
                                    <td class="criminal_full_name">{{row.1}}</td>
                                    <td class="criminal_age">{{row.2}}</td>
                                    <td class="criminal_gender" id="gender0">{{row.9}}</td>
                                    <td class="criminal_height">{{row.3}}</td>
                                    <td class="criminal_weight">{{row.4}}</td>
                                    <td class="criminal_eye_color" id="eyecolor0">{{row.5}}</td>
                                    <td class="criminal_bio">{{row.6}}</td>
                                    <td class="criminal_last_location">{{row.8}}</td>
                                    <td>
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal">{{ manageCriminal.update }}</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">{{ manageCriminal.delete }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="deleteModal" role="dialog">
        <form action="remove_criminals" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" id="deleteModalHeader">
                        <h4 class="modal-title">{{ manageCriminal.delete }}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body themeColor">
                          <p>{{ manageCriminal.confirmDelete }} </p>
                          <input class="form-control delete_criminal_id" type="hidden" id="delete_criminal_id" name="delete_criminal_id" placeholder="{{ manageCriminal.entercriminal_id}}" value="{{ request.form.delete_criminal_id }}" readonly>
                          <input class="form-control delete_criminal_full_name" type="hidden" id="delete_criminal_full_name" name="delete_criminal_full_name" placeholder="{{ manageCriminal.enterfull_name }}" value="{{ request.form.delete_criminal_full_name }}" readonly>
                    </div>
                    <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ manageCriminal.cancel }}</button>
                          <input type="submit" class="btn btn-danger" value="{{ manageCriminal.delete }}">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
        <form action="" method="post" onsubmit="return CriminalsValidation('criminal_full_name','criminal_portrait','criminal_height','criminal_weight','criminal_gender','criminal_eye_color','criminal_age','criminal_bio')">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="updateModalHeader">
                        <h4 class="modal-title">{{ manageCriminal.updatecriminal}}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body themeColor">
                        <input class="form-control criminal_id" type="text" id="criminal_id" name="criminal_id" placeholder="{{ manageCriminal.enterid }}" hidden>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_full_name">{{ manageCriminal.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control criminal_full_name" type="text" id="criminal_full_name" name="criminal_full_name" placeholder="{{ manageCriminal.enterfullname }}" onkeyup="FullnameValidation('criminal_full_name')" required>
                                </div>
                                <div class="error-messages" id="criminal_full_name_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_portrait">{{ manageCriminal.portrait }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control criminal_portrait" type="text" id="criminal_portrait" name="criminal_portrait" placeholder="{{ manageCriminal.enterimage }}" onkeyup="URLValidation('criminal_portrait')" required>
                                </div>
                                <div class="error-messages" id="criminal_portrait_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_height">{{ manageCriminal.height}}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control criminal_height" type="text" id="criminal_height" name="criminal_height" placeholder="{{ manageCriminal.enterheight }}" onkeyup="DigitsValidation('criminal_height')" required>
                                </div>
                                <div class="error-messages" id="criminal_height_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_weight">{{ manageCriminal.weight }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control criminal_weight" type="text" id="criminal_weight" name="criminal_weight" placeholder="{{ manageCriminal.enterweight }}" onkeyup="DigitsValidation('criminal_weight')" required>
                                </div>
                                <div class="error-messages" id="criminal_weight_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_gender">{{ manageCriminal.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                         <span class="input-group-addon input-group-text warning"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control criminal_gender" name="criminal_gender" id="criminal_gender" value="{{request.form.gender}}" onchange="DropdownValidation('criminal_gender')">
                                        <option value="Male">{{ manageCriminal.male }}</option>
                                        <option value="Female">{{ manageCriminal.female }}</option>
                                        <option value="Other">{{ manageCriminal.other }}</option>
                                    </select>
                                </div>
                                <div class="error-messages" id="criminal_gender_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_eye_color">{{ manageCriminal.eyecolor}}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control criminal_eye_color" name="criminal_eye_color" id="criminal_eye_color" onchange="DropdownValidation('criminal_eye_color')">
                                        <option value="Black">{{ manageCriminal.black }}</option>
                                        <option value="Brown">{{ manageCriminal.brown }}</option>
                                        <option value="Blue">{{ manageCriminal.blue }}</option>
                                        <option value="Green">{{ manageCriminal.green }}</option>
                                        <option value="Dark Brown">{{ manageCriminal.darkbrown }}</option>
                                        <option value="Amber">{{ manageCriminal.amber }}</option>
                                        <option value="Gray">{{ manageCriminal.gray }}</option>
                                    </select>
                                </div>
                                <div class="error-messages" id="criminal_eye_color_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_age">{{ manageCriminal.age }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control criminal_age" type="text" id="criminal_age" name="criminal_age" placeholder="{{ manageCriminal.enterage }}" onkeyup="DigitsValidation('criminal_age')" required>
                                </div>
                                <div class="error-messages" id="criminal_age_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                  <label class="contactlabel" for="criminal_last_location">{{ manageCriminal.lastlocation }}</label>
                                   <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                            <span class="input-group-addon input-group-text warning"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                      </div>
                                      <input class="form-control criminal_last_location" type="text" id="criminal_last_location" name="criminal_last_location" placeholder="{{ manageCriminal.enterlastlocation }}">
                                   </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                  <label class="contactlabel" for="criminal_bio">{{ manageCriminal.crimerecord}}</label>
                                  <span class="required">*</span>
                                  <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                            <span class="input-group-addon input-group-text warning"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                      </div>
                                     <textarea class="form-control criminal_bio" id="criminal_bio" name="criminal_bio" placeholder="{{ manageCriminal.entercrimerecord }}" style="height:200px" onkeyup="BiographyValidation('criminal_bio')" required></textarea>
                                  </div>
                                <div class="error-messages" id="criminal_bio_errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageCriminal.cancel }}</button>
                        <input type="submit" class="btn btn-warning" value="{{ manageCriminal.update }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="insertModal" role="dialog">
        <form action="insert_criminals" method="post" onsubmit="return CriminalsValidation('fullname','portrait','height','weight','gender','eye_color','age','bio')">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="insertModalHeader">
                        <h4 class="modal-title">{{ manageCriminal.insertCriminal}}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body themeColor">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="fullname">{{ insertCriminal.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                         <span class="input-group-addon input-group-text success"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control" type="text" id="fullname" name="fullname" placeholder="{{ insertCriminal.enterfullname }}" value="{{request.form.fullname}}" onkeyup="FullnameValidation('fullname')" required>
                                </div>
                                 <div class="error-messages" id="fullname_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="portrait">{{ insertCriminal.portrait }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control" type="text" id="portrait" name="portrait" placeholder="{{ insertCriminal.enterimage }}" value="{{request.form.portrait}}" onkeyup="URLValidation('portrait')" required>
                                </div>
                                 <div class="error-messages" id="portrait_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="gender">{{ manageCriminal.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_gender" name="gender" id="gender" value="{{request.form.gender}}" onchange="DropdownValidation('gender')">
                                        <option value="Male">{{ manageCriminal.male }}</option>
                                        <option value="Female">{{ manageCriminal.female }}</option>
                                        <option value="Other">{{ manageCriminal.other }}</option>
                                    </select>
                                </div>
                                 <div class="error-messages" id="gender_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="eye_color">{{ insertCriminal.eyecolor }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control" name="eye_color" id="eye_color" value="{{request.form.eye_color}}" onchange="DropdownValidation('eye_color')">
                                        <option value="Black">{{ insertCriminal.black }}</option>
                                        <option value="Brown">{{ insertCriminal.brown }}</option>
                                        <option value="Blue">{{ insertCriminal.blue }}</option>
                                        <option value="Green">{{ insertCriminal.green }}</option>
                                        <option value="Dark Brown">{{ insertCriminal.darkbrown }}</option>
                                        <option value="Amber">{{ insertCriminal.amber }}</option>
                                        <option value="Gray">{{ insertCriminal.gray }}</option>
                                    </select>
                                </div>
                                 <div class="error-messages" id="eye_color_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="height">{{ insertCriminal.height }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control" type="text" id="height" name="height" placeholder="{{ insertCriminal.enterheight}}" value="{{request.form.height}}" onkeyup="DigitsValidation('height')" required>
                                </div>
                                 <div class="error-messages" id="height_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="weight">{{ insertCriminal.weight }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control" type="text" id="weight" name="weight" placeholder="{{ insertCriminal.enterweight}}" value="{{request.form.weight}}" onkeyup="DigitsValidation('weight')" required>
                                </div>
                                 <div class="error-messages" id="weight_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="age">{{ insertCriminal.age }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control" type="text" id="age" name="age" placeholder="{{ insertCriminal.enterage }}" value="{{request.form.age}}" onkeyup="DigitsValidation('age')" required>
                                </div>
                                <div class="error-messages" id="age_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                               <label class="contactlabel" for="last_location">{{ insertCriminal.lastlocation }}</label>
                               <div class="input-group mb-3">
                                   <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                   </div>
                                 <input class="form-control" type="text" id="last_location" name="last_location" placeholder="{{ insertCriminal.enterlastlocation }}" value="{{request.form.last_location}}">
                               </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                  <label class="contactlabel" for="biography">{{ insertCriminal.crimerecord }}</label>
                                  <span class="required">*</span>
                                  <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                           <span class="input-group-addon input-group-text success"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                      </div>
                                      <textarea class="form-control" id="biography" name="biography" placeholder="{{ insertCriminal.entercrimerecord}}" value="{{request.form.biography}}" style="height:200px" onkeyup="BiographyValidation('biography')" required></textarea>
                                  </div>
                                  <div class="error-messages" id="biography_errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageCriminal.cancel }}</button>
                        <input type="submit" class="btn btn-success" value="{{ manageCriminal.insert }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="managecriminalsfooter">
        <h2>Footer</h2>
    </div>
{% endif %}

{% if loggedin_role == 'USER' %}
    <div class="header">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </div>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.norightsadmin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'home';">{{ messages.returntohome }}</button>
        </div>
    </div>

    <div class="errorloginfooter">
        <h2>Footer</h2>
    </div>
{% endif %}

{% if loggedin_role == '' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </nav>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.returntohome}}</button>
        </div>
    </div>

    <div class="errorloginfooter">
        <h2>Footer</h2>
    </div>
{% endif %}
</body>

</html>