<!DOCTYPE html>
<html>

<head>
    <title>Manage Live Feed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/defaultTheme.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body style="background-image: url('/static/images/background.jpg')">
{% if loggedin_role %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="home">{{ header.home }}</a>
                </li>
                {% if loggedin_role == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link" href="manage">{{ header.manage }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" href="live_feed">{{ header.livefeed }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">{{ header.contact }}</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ header.welcome }} {{ loggedin_user }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="settings">{{ header.settings }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="logout" id="logouttab" class="btn btn-danger" style="width: 100%"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br>

    {% if error %}
        <div class="container errorcontainer">
            <p class="error"><strong>{{ messages.error }}</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container successcontainer">
            <p class="success"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

    <div class="container" id="managelivefeedcontainer">
        <h1 align="center">{{ manageLivefeed.select}}</h1>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                     <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr class="black">
                                <th scope="col">{{ manageCriminal.id }}</th>
                                <th scope="col">{{ manageCriminal.portrait }}</th>
                                <th scope="col">{{ manageCriminal.fullname }}</th>
                                <th scope="col">{{ manageCriminal.age }}</th>
                                <th scope="col">{{ manageCriminal.gender }}</th>
                                <th scope="col">{{ manageCriminal.height }}</th>
                                <th scope="col">{{ manageCriminal.weight }}</th>
                                <th scope="col">{{ manageCriminal.eyecolor }}</th>
                                <th scope="col">{{ manageCriminal.biography }}</th>
                                <th scope="col">{{ manageCriminal.lastlocation }}</th>
                                <th scope="col">{{ manageLivefeed.nofilter }}</th>
                                <th scope="col">{{ manageLivefeed.grayfilter }}</th>
                                <th scope="col">{{ manageLivefeed.redishfilter }}</th>
                                <th scope="col">{{ manageLivefeed.invertfilter }}</th>
                                <th scope="col">{{ manageLivefeed.blurfilter }}</th>
                                <th scope="col">{{ manageLivefeed.sepiafilter }}</th>
                            </tr>
                        </thead>
                        <tbody class="black">
                            {% for row in result %}
                                <tr>
                                    <th class="criminal_id" scope="row">{{row.0}}</th>
                                    <td class="criminal_portrait"><img src="{{row.7}}" style="width: 100px; height: 100px;"></td>
                                    <td class="criminal_full_name">{{row.1}}</td>
                                    <td class="criminal_age">{{row.2}}</td>
                                    {% if row.9 == "Male" %}
                                        <td class="criminal_gender">{{manageCriminal.male}}</td>
                                    {% endif %}
                                    {% if row.9 == "Female" %}
                                        <td class="criminal_gender">{{manageCriminal.female}}</td>
                                    {% endif %}
                                    {% if row.9 == "Other" %}
                                        <td class="criminal_gender">{{manageCriminal.other}}</td>
                                    {% endif %}
                                    <td class="criminal_height">{{row.3}}</td>
                                    <td class="criminal_weight">{{row.4}}</td>
                                    {% if row.5 == "Black" %}
                                        <td class="criminal_eye_color">{{manageCriminal.black}}</td>
                                    {% endif %}
                                    {% if row.5 == "Brown" %}
                                        <td class="criminal_eye_color">{{manageCriminal.brown}}</td>
                                    {% endif %}
                                    {% if row.5 == "Blue" %}
                                        <td class="criminal_eye_color">{{manageCriminal.bue}}</td>
                                    {% endif %}
                                    {% if row.5 == "Green" %}
                                        <td class="criminal_eye_color">{{manageCriminal.green}}</td>
                                    {% endif %}
                                    {% if row.5 == "Dark Brown" %}
                                        <td class="criminal_eye_color">{{manageCriminal.darkbrown}}</td>
                                    {% endif %}
                                    {% if row.5 == "Amber" %}
                                        <td class="criminal_eye_color">{{manageCriminal.amber}}</td>
                                    {% endif %}
                                    {% if row.5 == "Gray" %}
                                        <td class="criminal_eye_color">{{manageCriminal.gray}}</td>
                                    {% endif %}
                                    <td class="criminal_bio">{{row.6}}</td>
                                    <td class="criminal_last_location">{{row.8}}</td>
                                    <td>
                                         <form action="search_livefeed" method="post">
                                            <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                            <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                            <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                            <input type="hidden" id="filter" name="filter" value="no">
                                            <button class="btn btn-primary">{{ manageLivefeed.search }}</button>
                                        </form>
                                    </td>
                                    <td>
                                         <form action="search_livefeed" method="post">
                                            <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                            <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                            <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                            <input type="hidden" id="filter" name="filter" value="gray">
                                            <button class="btn btn-primary">{{ manageLivefeed.search }}</button>
                                        </form>
                                    </td>
                                    <td>
                                         <form action="search_livefeed" method="post">
                                            <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                            <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                            <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                            <input type="hidden" id="filter" name="filter" value="redish">
                                            <button class="btn btn-primary">{{ manageLivefeed.search }}</button>
                                        </form>
                                    </td>
                                    <td>
                                         <form action="search_livefeed" method="post">
                                            <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                            <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                            <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                            <input type="hidden" id="info" name="filter" value="invert">
                                            <button class="btn btn-primary">{{ manageLivefeed.search }}</button>
                                        </form>
                                    </td>
                                    <td>
                                         <form action="search_livefeed" method="post">
                                            <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                            <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                            <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                            <input type="hidden" id="filter" name="filter" value="blur">
                                            <button class="btn btn-primary">{{ manageLivefeed.search }}</button>
                                        </form>
                                    </td>
                                    <td>
                                         <form action="search_livefeed" method="post">
                                            <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                            <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                            <input type="hidden" id="row.7" name="row.7" value="{{row.7}}">
                                            <input type="hidden" id="filter" name="filter" value="sepia">
                                            <button class="btn btn-primary">{{ manageLivefeed.search }}</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="managelivefeedfooter">
        <h2>Footer</h2>
    </div>
{% endif %}

{% if loggedin_role == '' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </nav>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.login }}</button>
        </div>
    </div>

    <div class="errorloginfooter">
        <h2>Footer</h2>
    </div>
{% endif %}



</body>

</html>

