<!DOCTYPE html>
<html>

<head>
    <title>Manage Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if site_theme == 'Light Theme' %}
        <link rel="stylesheet" href="/static/css/light.css">
    {% endif %}
    {% if site_theme == 'Dark Theme' %}
        <link rel="stylesheet" href="/static/css/dark.css">
    {% endif %}
    {% if site_fontsize == '12' %}
        <link rel="stylesheet" href="/static/css/smallFonts.css">
    {% endif %}
    {% if site_fontsize == '16' %}
        <link rel="stylesheet" href="/static/css/bigFonts.css">
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script language="JavaScript" type="text/javascript" src="/static/js/manageUsers.js"></script>
    {% if site_language == 'English' %}
        <script language="JavaScript" type="text/javascript" src="/static/js/validateUsersEN.js"></script>
    {% endif %}
    {% if site_language == 'Greek' %}
        <script language="JavaScript" type="text/javascript" src="/static/js/validateUsersGR.js"></script>
    {% endif %}
</head>

<body>
{% if loggedin_role == 'ADMIN' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="home">{{ header.home }}</a>
                </li>
                {% if loggedin_role == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="manage">{{ header.manage }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="live_feed">{{ header.livefeed }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">{{ header.contact }}</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ header.welcome }} {{ loggedin_user }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="settings">{{ header.settings }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="logout" id="logouttab" class="btn btn-danger" style="width: 100%"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br>

    {% if error %}
        <div class="container errorcontainer">
            <p class="error"><strong>{{ messages.error }}</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container successcontainer">
            <p class="success"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

    <div class="container" id="manageUsersContainer">
        <h1 align="center">{{ manageUser.manage }}</h1>
        <hr>
        <button id="manageInsertButton" class="btn btn-success" data-toggle="modal" data-target="#insertModal">{{ manage.insert }}</button>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr class="themeColor">
                                <th scope="col">{{ manageUser.id }}</th>
                                <th scope="col">{{ manageUser.avatar }}</th>
                                <th scope="col">{{ manageUser.username }}</th>
                                <th scope="col" hidden>{{ manageUser.password }}</th>
                                <th scope="col">{{ manageUser.email}}</th>
                                <th scope="col">{{ manageUser.fullname }}</th>
                                <th scope="col">{{ manageUser.gender }}</th>
                                <th scope="col">{{ manageUser.biography }}</th>
                                <th scope="col">{{ manageUser.work_phone }}</th>
                                <th scope="col">{{ manageUser.mobile_phone }}</th>
                                <th scope="col">{{ manageUser.role }}</th>
                                <th scope="col">{{ manageUser.update }}</th>
                                <th scope="col">{{ manageUser.delete }}</th>
                            </tr>
                        </thead>
                        <tbody class="themeColor">
                            {% for row in result %}
                                <tr>
                                    <th class="user_id" scope="row">{{row.0}}</th>
                                    <td class="user_avatar"><img src="{{row.10}}" style="width: 100px; height: 100px;"></td>
                                    <td class="user_username">{{row.1}}</td>
                                    <td class="user_password hidetext" hidden>{{row.2}}</td>
                                    <td class="user_email">{{row.3}}</td>
                                    <td class="user_full_name">{{row.4}}</td>
                                    <td class="user_gender" id="gender0">{{row.5}}</td>
                                    <td class="user_biography">{{row.6}}</td>
                                    <td class="user_work_phone">{{row.7}}</td>
                                    <td class="user_mobile_phone">{{row.8}}</td>
                                    <td class="user_role" id="role0">{{row.9}}</td>
                                    <td>
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal">{{ manageUser.update }}</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">{{ manageUser.delete }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1"  id="deleteModal" role="dialog">
        <form action="remove_users" method="post">
            <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header" id="deleteModalHeader">
                          <h4 class="modal-title">{{ manageUser.delete }}</h4>
                          <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body themeColor">
                          <p>{{ manageUser.confirmDelete }} </p>
                          <input class="form-control delete_user_id" type="hidden" id="delete_user_id" name="delete_user_id" placeholder="{{ manageUser.enteruser_id}}" value="{{ request.form.delete_user_id }}" readonly>
                          <input class="form-control delete_user_username" type="hidden" id="delete_user_username" name="delete_user_username" placeholder="{{ manageUser.enteruser_username }}" value="{{ request.form.delete_user_username}}" readonly>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ manageUser.cancel }}</button>
                          <input type="submit" class="btn btn-danger" value="{{ manageUser.delete }}">
                      </div>
                  </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
        <form action="" method="post" onsubmit="return UsersValidation('username','email','password','retype_password','full_name','work_phone','mobile_phone','biography','gender','role','avatar')">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="updateModalHeader">
                        <h4 class="modal-title">{{ manageUser.updateuser }}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body themeColor">
                        <input type="text" autocomplete="off" class="form-control user_id" placeholder="{{ manageUser.enterid }}" name="id" id = "id" value="{{request.form.id}}" hidden>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="username">{{ manageUser.username }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_username" placeholder="{{ manageUser.enterusername }}" name="username" id="username" value="{{request.form.username}}" onkeyup="UsernameValidation('username')" required>
                                </div>
                                <div class="error-messages" id="username_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="email">{{ manageUser.email }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_email" placeholder="{{ manageUser.enteremail }}" name="email" id="email" value="{{request.form.email}}" onkeyup="EmailValidation('email')" required>
                                </div>
                                <div class="error-messages" id="email_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="password">{{ manageUser.password }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterpassword }}" name="password" id="password" onkeyup="PasswordValidation('password')" value="{{request.form.password}}" required>
                                </div>
                                <div class="error-messages" id="password_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="retype_password">{{ manageUser.retype_password }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterretype_password }}" name="retype_password" id="retype_password" onkeyup="RetypePasswordValidation('retype_password', 'password')" value="{{request.form.retype_password}}" required>
                                </div>
                                <div class="error-messages" id="retype_password_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="full_name">{{ manageUser.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_full_name" placeholder="{{ manageUser.enterfullname }}" name="full_name" id="full_name" onkeyup="FullnameValidation('full_name')" value="{{request.form.full_name}}" required>
                                </div>
                                <div class="error-messages" id="full_name_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="gender">{{ manageUser.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_gender" name="gender" id="gender" value="{{request.form.gender}}" onchange="DropdownValidation('gender')">
                                        <option value="Male">{{ manageUser.male }}</option>
                                        <option value="Female">{{ manageUser.female }}</option>
                                        <option value="Other">{{ manageUser.other }}</option>
                                    </select>
                                </div>
                                <div class="error-messages" id="gender_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="work_phone">{{ manageUser.work_phone }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_work_phone" placeholder="{{ manageUser.enterwork_phone }}" name="work_phone" id="work_phone" value="{{request.form.work_phone}}" onkeyup="PhoneValidation('work_phone')" required>
                                </div>
                                <div class="error-messages" id="work_phone_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="mobile_phone">{{ manageUser.mobile_phone }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_mobile_phone" placeholder="{{ manageUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone" value="{{request.form.mobile_phone}}" onkeyup="PhoneValidation('mobile_phone')" required>
                                </div>
                                <div class="error-messages" id="mobile_phone_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="contactlabel" for="biography">{{ manageUser.biography }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_biography" placeholder="{{ manageUser.enterbiography }}" name="biography" id="biography" value="{{request.form.biography}}" onkeyup="BiographyValidation('biography')" required>
                                </div>
                                 <div class="error-messages" id="biography_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="role">{{ manageUser.role }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-users" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_role" name="role" id="role" value="{{request.form.role}}" onchange="DropdownValidation('role')">
                                        <option value="ADMIN">{{ manageUser.admin }}</option>
                                        <option value="USER">{{ manageUser.user }}</option>
                                    </select>
                                </div>
                                <div class="error-messages" id="role_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="avatar">{{ manageUser.avatar }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_avatar" placeholder="{{ manageUser.enterimage }}" name="avatar" id="avatar" value="{{request.form.avatar}}" onkeyup="URLValidation('avatar')" required>
                                </div>
                                <div class="error-messages" id="avatar_errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageUser.cancel }}</button>
                        <input type="submit" class="btn btn-warning" value="{{ manageUser.update }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="insertModal" role="dialog">
       <form action="insert_users" method="post" onsubmit="return UsersValidation('username1','email1','password1','retype_password1','full_name1','work_phone1','mobile_phone1','biography1','gender1','role1','avatar1')">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="insertModalHeader">
                        <h4 class="modal-title">{{ manageUser.insertuser }}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body themeColor">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="username">{{ insertUser.username }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterusername }}" name="username" id = "username1" value="{{request.form.username}}" onkeyup="UsernameValidation('username1')" required>
                                </div>
                                <div class="error-messages" id="username1_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="email">{{ insertUser.email }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                         <span class="input-group-addon input-group-text success"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enteremail }}" name="email" id="email1" value="{{request.form.email}}" onkeyup="EmailValidation('email1')" required>
                                </div>
                                <div class="error-messages" id="email1_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                              <div class="form-group col-md-6">
                                    <label class="contactlabel" for="password">{{ insertUser.password }}</label>
                                    <span class="required">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                             <span class="input-group-addon input-group-text success"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterpassword }}" name="password" id="password1" value="{{request.form.password}}" onkeyup="PasswordValidation('password1')" required>
                                    </div>
                                    <div class="error-messages" id="password1_errors"></div>
                              </div>
                              <div class="form-group col-md-6">
                                    <label class="contactlabel" for="retype_password">{{ insertUser.retype_password }}</label>
                                    <span class="required">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                             <span class="input-group-addon input-group-text success"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterretype_password }}" name="retype_password" id="retype_password1" value="{{request.form.retype_password}}" onkeyup="RetypePasswordValidation('retype_password1', 'password1')" required>
                                    </div>
                                   <div class="error-messages" id="retype_password1_errors"></div>
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="full_name">{{ insertUser.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterfullname }}" name="full_name" id="full_name1" value="{{request.form.full_name}}" onkeyup="FullnameValidation('full_name1')" required>
                                </div>
                                 <div class="error-messages" id="full_name1_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="gender">{{ insertUser.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control" name="gender" id="gender1" value="{{request.form.gender}}" onchange="DropdownValidation('gender1')">
                                        <option value="Male">{{ insertUser.male }}</option>
                                        <option value="Female">{{ insertUser.female }}</option>
                                        <option value="Other">{{ insertUser.other }}</option>
                                    </select>
                                </div>
                                 <div class="error-messages" id="gender1_errors"></div>
                            </div>
                      </div>
                      <div class="form-row">
                         <div class="form-group col-md-6">
                            <label class="contactlabel" for="work_phone">{{ insertUser.work_phone }}</label>
                            <span class="required">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-addon input-group-text success"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterwork_phone }}" name="work_phone" id="work_phone1" value="{{request.form.work_phone}}" onkeyup="PhoneValidation('work_phone1')" required>
                            </div>
                            <div class="error-messages" id="work_phone1_errors"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="contactlabel" for="mobile_phone">{{ insertUser.mobile_phone }}</label>
                            <span class="required">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                      <span class="input-group-addon input-group-text success"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone1" value="{{request.form.mobile_phone}}" onkeyup="PhoneValidation('mobile_phone1')" required>
                            </div>
                             <div class="error-messages" id="mobile_phone1_errors"></div>
                        </div>
                      </div>
                      <div class="form-row">
                         <div class="form-group col-md-12">
                            <label class="contactlabel" for="biography">{{ insertUser.biography }}</label>
                            <span class="required">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                     <span class="input-group-addon input-group-text success"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterbiography }}" name="biography" id="biography1" value="{{request.form.biography}}" onkeyup="BiographyValidation('biography1')" required>
                            </div>
                             <div class="error-messages" id="biography1_errors"></div>
                         </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                                <label class="contactlabel" for="role">{{ insertUser.role }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-users" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control" name="role" id="role1" value="{{request.form.role}}" onchange="DropdownValidation('role1')">
                                        <option value="ADMIN">{{ insertUser.admin }}</option>
                                        <option value="USER">{{ insertUser.user }}</option>
                                    </select>
                                </div>
                                 <div class="error-messages" id="role1_errors"></div>
                          </div>
                          <div class="form-group col-md-6">
                                <label class="contactlabel" for="avatar">{{ insertUser.avatar }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterimage }}" name="avatar" id="avatar1" value="{{request.form.avatar}}" onkeyup="URLValidation('avatar1')" required>
                                </div>
                                 <div class="error-messages" id="avatar1_errors"></div>
                          </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageUser.cancel }}</button>
                        <input type="submit" class="btn btn-success" value="{{ manageUser.insert }}">
                    </div>
              </div>
            </div>
        </form>
    </div>
{% endif %}

{% if loggedin_role == 'USER' %}
    <div class="header">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </div>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.norightsadmin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'home';">{{ messages.returntohome }}</button>
        </div>
    </div>
{% endif %}

{% if loggedin_role == '' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </nav>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.returntohome }}</button>
        </div>
    </div>
{% endif %}

    <div class="myfooter">
        <h4>{{ header.footer }}</h4>
    </div>

</body>
</html>

