<!DOCTYPE html>
<html>

<head>
    <title>Manage Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script language="JavaScript" type="text/javascript" src="/static/js/manageUsers.js"></script>
    <script>
    const updateUsersValidation = function validate(username, email, password, retype_password, full_name, work_phone, biography, gender, role, url){
    const isUsernameValid = UsernameValidation(username);
    const isEmailValid = EmailValidation(email);
    const isPasswordValid = PasswordValidation(password);
    const isRetypePasswordValid = RetypePasswordValidation(retype_password);
    const isFullnameValid = FullnameValidation(full_name);
    const isWorkPhoneValid = PhoneValidation(work_phone);
    const isMobilePhoneValid = PhoneValidation(mobile_phone);
    const isBiographyValid = BiographyValidation(biography);
    const isGenderValid = DropdownValidation(gender);
    const isRoleValid = DropdownValidation(role);
    const isURLValid = URLValidation(url);
    if (isUsernameValid && isEmailValid && isPasswordValid && isRetypePasswordValid && isFullnameValid && isWorkPhoneValid && isMobilePhoneValid && isBiographyValid && isGenderValid && isRoleValid && isURLValid) return true;
    else return false;
}

const UsernameValidation = function validateUsername(username) {
  var returnedValue = true;
  const loginUsername = document.getElementById(username).value;
  if (loginUsername.length <= 2) {
    document.getElementById(username).style.borderColor = '#ff0000';
    document.getElementById(username).style.borderWidth = '3px';
    document.getElementById(username + '_errors').style.color = '#ff0000';
    document.getElementById(username + '_errors').innerHTML = 'Username is way too small!';
    if (loginUsername === '')
        document.getElementById(username + '_errors').innerHTML = 'Please enter a Username!';
    returnedValue = false;
    } else {
      document.getElementById(username).style.borderColor  = '#008000';
      document.getElementById(username).style.borderWidth = '3px';
      document.getElementById(username + '_errors').style.color  = '#008000';
      document.getElementById(username + '_errors').innerHTML = 'Username is valid!';
    }

  return returnedValue;
}

const EmailValidation = function validateEmail(email) {
  var returnedValue = true;
  const userEmail = document.getElementById(email).value;
  const atpos = userEmail.indexOf("@");
  const dotpos = userEmail.lastIndexOf(".");
  if (atpos<1 || dotpos<atpos+2 || dotpos+2>=userEmail.length) {
    document.getElementById(email).style.borderColor = '#ff0000';
    document.getElementById(email).style.borderWidth = '3px';
    document.getElementById(email + '_errors').style.color = '#ff0000';
    document.getElementById(email + '_errors').innerHTML = 'Email address is not valid!';
    returnedValue = false;
  } else {
    document.getElementById(email).style.borderColor = '#008000';
    document.getElementById(email).style.borderWidth = '3px';
    document.getElementById(email + '_errors').style.color = '#008000';
    document.getElementById(email + '_errors').innerHTML = 'Email address is valid!';
  }
  if (userEmail === ''){
    document.getElementById(email).style.borderColor = '#ff0000';
    document.getElementById(email).style.borderWidth = '3px';
    document.getElementById(email + '_errors').innerHTML = 'Please enter an email address!';
    returnedValue = false;
  }

  return returnedValue;
}

const PasswordValidation = function validatePassword(password) {
  var returnedValue = true;
  var userPassword = document.getElementById(password).value;
  if (userPassword.length <= 2) {
    document.getElementById(password).style.borderColor = '#ff0000';
    document.getElementById(password).style.borderWidth = '3px';
    document.getElementById(password + '_errors').style.color = '#ff0000';
    document.getElementById(password + '_errors').innerHTML = 'Password is way too small!';
    if (userPassword === '')  document.getElementById(password + '_errors').innerHTML = 'Please enter a password!';
    returnedValue = false;
    } else {
      document.getElementById(password).style.borderColor = '#008000';
      document.getElementById(password).style.borderWidth = '3px';
      document.getElementById(password + '_errors').style.color = '#008000';
      document.getElementById(password + '_errors').innerHTML = 'Password is valid!';
    }

  return returnedValue;
}

const RetypePasswordValidation = function validateRetypePassword(retype_password) {
  var returnedValue = true;
  var userRetypePassword = document.getElementById(retype_password).value;
  if (userRetypePassword.length <= 2) {
    document.getElementById(retype_password).style.borderColor = '#ff0000';
    document.getElementById(retype_password).style.borderWidth = '3px';
    document.getElementById(retype_password + '_errors').style.color = '#ff0000';
    document.getElementById(retype_password + '_errors').innerHTML = 'Password is way too small!';
    if (userRetypePassword === '')  document.getElementById(retype_password + '_errors').innerHTML = 'Please enter a password!';
    returnedValue = false;
    } else {
      document.getElementById(retype_password).style.borderColor = '#008000';
      document.getElementById(retype_password).style.borderWidth = '3px';
      document.getElementById(retype_password + '_errors').style.color = '#008000';
      document.getElementById(retype_password + '_errors').innerHTML = 'Password is valid!';
    }

  return returnedValue;
}

const FullnameValidation = function validateFullname(fullname) {
  var returnedValue = true;
  const userFullname = document.getElementById(fullname).value;
  if (userFullname.length <= 2) {
    document.getElementById(fullname).style.borderColor = '#ff0000';
    document.getElementById(fullname).style.borderWidth = '3px';
    document.getElementById(fullname + '_errors').style.color = '#ff0000';
    document.getElementById(fullname + '_errors').innerHTML = 'Full name is way too small!';
    if (userFullname === '')
        document.getElementById(fullname + '_errors').innerHTML = 'Please enter a Full Name!';
    if(/\d/.test(userFullname)) {
        document.getElementById(fullname + '_errors').innerHTML = 'A name cannot contain digits!';
    }
    returnedValue = false;
    } else {
      if(/\d/.test(userFullname)) {
          document.getElementById(fullname).style.borderColor = '#ff0000';
          document.getElementById(fullname).style.borderWidth = '3px';
          document.getElementById(fullname + '_errors').style.color = '#ff0000';
          document.getElementById(fullname + '_errors').innerHTML = 'A name cannot contain digits!';
          returnedValue = false;
      } else {
          document.getElementById(fullname).style.borderColor  = '#008000';
          document.getElementById(fullname).style.borderWidth = '3px';
          document.getElementById(fullname + '_errors').style.color  = '#008000';
          document.getElementById(fullname + '_errors').innerHTML = 'Full Name is valid!';
      }

    }

  return returnedValue;
}

const PhoneValidation = function validatephone(phone) {
  var returnedValue = true;
  const userphone = document.getElementById(phone).value;
  if ( (userphone.length < 10) || (userphone.length > 14))  {
    document.getElementById(phone).style.borderColor = '#ff0000';
    document.getElementById(phone).style.borderWidth = '3px';
    document.getElementById(phone + '_errors').style.color = '#ff0000';
    document.getElementById(phone + '_errors').innerHTML = 'Work phone length can be 10-14 digits only!';
    if (userphone === '')
        document.getElementById(phone + '_errors').innerHTML = 'Please enter a Work Phone!';
    if(!(/^\d+$/.test(userphone))) {
        document.getElementById(phone + '_errors').innerHTML = 'Work phone cannot contain letters!';
    }
    returnedValue = false;
    } else {
      if(!(/^\d+$/.test(userphone))) {
          document.getElementById(phone).style.borderColor = '#ff0000';
          document.getElementById(phone).style.borderWidth = '3px';
          document.getElementById(phone + '_errors').style.color = '#ff0000';
          document.getElementById(phone + '_errors').innerHTML = 'Work phone cannot contain letters!';
          returnedValue = false;
      } else {
          document.getElementById(phone).style.borderColor  = '#008000';
          document.getElementById(phone).style.borderWidth = '3px';
          document.getElementById(phone + '_errors').style.color  = '#008000';
          document.getElementById(phone + '_errors').innerHTML = 'Work phone number is valid!';
      }
    }

  return returnedValue;
}

const BiographyValidation = function validateBiography(biography) {
  var returnedValue = true;
  const userBio = document.getElementById(biography).value;
  if (userBio.length <= 2) {
    document.getElementById(biography).style.borderColor = '#ff0000';
    document.getElementById(biography).style.borderWidth = '3px';
    document.getElementById(biography + '_errors').style.color = '#ff0000';
    document.getElementById(biography+ '_errors').innerHTML = 'Biography is way too small!';
    if (userBio === '')
        document.getElementById(biography + '_errors').innerHTML = 'Please enter the biography!';
    returnedValue = false;
    } else {
      document.getElementById(biography).style.borderColor  = '#008000';
      document.getElementById(biography).style.borderWidth = '3px';
      document.getElementById(biography + '_errors').style.color  = '#008000';
      document.getElementById(biography + '_errors').innerHTML = 'Biography is valid!';
    }

  return returnedValue;
}

const DropdownValidation = function validateDropdown(option) {
  var returnedValue = true;
  const selectedOption = document.getElementById(option).value;
  if (selectedOption === ''){
    document.getElementById(option).style.borderColor = '#ff0000';
    document.getElementById(option).style.borderWidth = '3px';
    document.getElementById(option + '_errors').style.color = '#ff0000';
    document.getElementById(option + '_errors').innerHTML = 'Please select an Option!';
    returnedValue = false;
  } else {
    document.getElementById(option).style.borderColor = '#008000';
    document.getElementById(option).style.borderWidth = '3px';
    document.getElementById(option + '_errors').style.color = '#008000';
    document.getElementById(option + '_errors').innerHTML = 'Selection is valid!';
  }

  return returnedValue;
}

const URLValidation = function validateURL(url) {
  var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
  var returnedValue = true;
  const imageUrl = document.getElementById(url).value;
  if (!regexp.test(imageUrl)){
    document.getElementById(url).style.borderColor = '#ff0000';
    document.getElementById(url).style.borderWidth = '3px';
    document.getElementById(url + '_errors').style.color = '#ff0000';
    document.getElementById(url + '_errors').innerHTML = 'Please enter a valid URL!';
    returnedValue = false;
  } else {
    document.getElementById(url).style.borderColor = '#008000';
    document.getElementById(url).style.borderWidth = '3px';
    document.getElementById(url + '_errors').style.color = '#008000';
    document.getElementById(url + '_errors').innerHTML = 'URL is valid!';
  }

  return returnedValue
}


    </script>
</head>

<body style="background-image: url('/static/images/background.jpg')">
{% if loggedin_role == 'ADMIN' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="home">{{ header.home }}</a>
                </li>
                {% if loggedin_role == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="manage">{{ header.manage }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="live_feed">{{ header.livefeed }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">{{ header.contact }}</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ header.welcome }} {{ loggedin_user }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="settings">{{ header.settings }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="logout" id="logouttab" class="btn btn-danger" style="width: 100%"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br>

    {% if error %}
        <div class="container errorcontainer">
            <p class="error"><strong>{{ messages.error }}</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container successcontainer">
            <p class="success"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

    <div class="container" id="manageUsersContainer">
        <h1 align="center">{{ manageUser.manage }}</h1>
        <hr>
        <button id="manageInsertButton" class="btn btn-success" data-toggle="modal" data-target="#insertModal">{{ manage.insert }}</button>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <table class="table table-hover table-striped table-responsive">
                        <thead class="thead-dark">
                            <tr class="black">
                                <th scope="col">{{ manageUser.id }}</th>
                                <th scope="col">{{ manageUser.avatar }}</th>
                                <th scope="col">{{ manageUser.username }}</th>
                                <th scope="col" hidden>{{ manageUser.password }}</th>
                                <th scope="col">{{ manageUser.email}}</th>
                                <th scope="col">{{ manageUser.fullname }}</th>
                                <th scope="col">{{ manageUser.gender }}</th>
                                <th scope="col">{{ manageUser.biography }}</th>
                                <th scope="col">{{ manageUser.work_phone }}</th>
                                <th scope="col">{{ manageUser.mobile_phone }}</th>
                                <th scope="col">{{ manageUser.role }}</th>
                                <th scope="col">{{ manageUser.update }}</th>
                                <th scope="col">{{ manageUser.delete }}</th>
                            </tr>
                        </thead>
                        <tbody class="black">
                            {% for row in result %}
                                <tr>
                                    <th class="user_id" scope="row">{{row.0}}</th>
                                    <td class="user_avatar"><img src="{{row.10}}" style="width: 100px; height: 100px;"></td>
                                    <td class="user_username">{{row.1}}</td>
                                    <td class="user_password hidetext" hidden>{{row.2}}</td>
                                    <td class="user_email">{{row.3}}</td>
                                    <td class="user_full_name">{{row.4}}</td>
                                    <td class="user_gender" id="gender0">{{row.5}}</td>
                                    <td class="user_biography">{{row.6}}</td>
                                    <td class="user_work_phone">{{row.7}}</td>
                                    <td class="user_mobile_phone">{{row.8}}</td>
                                    <td class="user_role" id="role0">{{row.9}}</td>
                                    <td>
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal">{{ manageUser.update }}</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">{{ manageUser.delete }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1"  id="deleteModal" role="dialog">
        <form action="remove_users" method="post">
            <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header" id="deleteModalHeader">
                          <h4 class="modal-title">{{ manageUser.delete }}</h4>
                          <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body black">
                          <p>{{ manageUser.confirmDelete }} </p>
                          <input class="form-control delete_user_id" type="hidden" id="delete_user_id" name="delete_user_id" placeholder="{{ manageUser.enteruser_id}}" value="{{ request.form.delete_user_id }}" readonly>
                          <input class="form-control delete_user_username" type="hidden" id="delete_user_username" name="delete_user_username" placeholder="{{ manageUser.enteruser_username }}" value="{{ request.form.delete_user_username}}" readonly>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ manageUser.cancel }}</button>
                          <input type="submit" class="btn btn-danger" value="{{ manageUser.delete }}">
                      </div>
                  </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
        <form action="" method="post" onsubmit="return updateUsersValidation('username','email','password','retype_password','full_name','work_phone','mobile_phone','biography','gender','role')">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="updateModalHeader">
                        <h4 class="modal-title">{{ manageUser.updateuser }}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body black">
                        <div class="form-row">
                             <div class="form-group col-md-12">
                                <label class="contactlabel" for="id">{{ manageUser.id }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_id" placeholder="{{ manageUser.enterid }}" name="id" id = "id" value="{{request.form.id}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="username">{{ manageUser.username }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_username" placeholder="{{ manageUser.enterusername }}" name="username" id="username" value="{{request.form.username}}" onkeyup="UsernameValidation('username')" required>
                                </div>
                                <div class="error-messages" id="username_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="email">{{ manageUser.email }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_email" placeholder="{{ manageUser.enteremail }}" name="email" id="email" value="{{request.form.email}}" onkeyup="EmailValidation('email')" required>
                                </div>
                                <div class="error-messages" id="email_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="password">{{ manageUser.password }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterpassword }}" name="password" id="password" onkeyup="PasswordValidation('password')" value="{{request.form.password}}" required>
                                </div>
                                <div class="error-messages" id="password_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="retype_password">{{ manageUser.retype_password }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterretype_password }}" name="retype_password" id="retype_password" onkeyup="RetypePasswordValidation('retype_password')" value="{{request.form.retype_password}}" required>
                                </div>
                                <div class="error-messages" id="retype_password_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="full_name">{{ manageUser.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_full_name" placeholder="{{ manageUser.enterfullname }}" name="full_name" id="full_name" onkeyup="FullnameValidation('full_name')" value="{{request.form.full_name}}" required>
                                </div>
                                <div class="error-messages" id="full_name_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="gender">{{ manageUser.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_gender" name="gender" id="gender" value="{{request.form.gender}}" onchange="DropdownValidation('gender')">
                                        <option value="Male">{{ manageUser.male }}</option>
                                        <option value="Female">{{ manageUser.female }}</option>
                                        <option value="Other">{{ manageUser.other }}</option>
                                    </select>
                                </div>
                                <div class="error-messages" id="gender_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="work_phone">{{ manageUser.work_phone }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_work_phone" placeholder="{{ manageUser.enterwork_phone }}" name="work_phone" id="work_phone" value="{{request.form.work_phone}}" onkeyup="PhoneValidation('work_phone')" required>
                                </div>
                                <div class="error-messages" id="work_phone_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="mobile_phone">{{ manageUser.mobile_phone }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_mobile_phone" placeholder="{{ manageUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone" value="{{request.form.mobile_phone}}" onkeyup="PhoneValidation('mobile_phone')" required>
                                </div>
                                <div class="error-messages" id="mobile_phone_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="contactlabel" for="biography">{{ manageUser.biography }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_biography" placeholder="{{ manageUser.enterbiography }}" name="biography" id="biography" value="{{request.form.biography}}" onkeyup="BiographyValidation('biography')" required>
                                </div>
                                 <div class="error-messages" id="biography_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="role">{{ manageUser.role }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-users" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_role" name="role" id="role" value="{{request.form.role}}" onchange="DropdownValidation('role')">
                                        <option value="ADMIN">{{ manageUser.admin }}</option>
                                        <option value="USER">{{ manageUser.user }}</option>
                                    </select>
                                </div>
                                <div class="error-messages" id="role_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="avatar">{{ manageUser.avatar }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text warning"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_avatar" placeholder="{{ manageUser.enterimage }}" name="avatar" id="avatar" value="{{request.form.avatar}}" onkeyup="URLValidation('avatar')" required>
                                </div>
                                <div class="error-messages" id="avatar_errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageUser.cancel }}</button>
                        <input type="submit" class="btn btn-warning" value="{{ manageUser.update }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="insertModal" role="dialog">
        <form action="insert_users" method="post">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="insertModalHeader">
                        <h4 class="modal-title">{{ manageUser.insertuser }}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body black">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="username">{{ insertUser.username }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterusername }}" name="username" id = "username" value="{{request.form.username}}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="email">{{ insertUser.email }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                         <span class="input-group-addon input-group-text success"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enteremail }}" name="email" id="email" value="{{request.form.email}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                              <div class="form-group col-md-6">
                                    <label class="contactlabel" for="password">{{ insertUser.password }}</label>
                                    <span class="required">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                             <span class="input-group-addon input-group-text success"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterpassword }}" name="password" id="password" value="{{request.form.password}}" required>
                                    </div>
                              </div>
                              <div class="form-group col-md-6">
                                    <label class="contactlabel" for="retype_password">{{ insertUser.retype_password }}</label>
                                    <span class="required">*</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                             <span class="input-group-addon input-group-text success"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterretype_password }}" name="retype_password" id="retype_password" value="{{request.form.retype_password}}" required>
                                    </div>
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="full_name">{{ insertUser.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterfullname }}" name="full_name" id="full_name" value="{{request.form.full_name}}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="gender">{{ insertUser.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control" name="gender" id="gender" value="{{request.form.gender}}">
                                        <option value="Male">{{ insertUser.male }}</option>
                                        <option value="Female">{{ insertUser.female }}</option>
                                        <option value="Other">{{ insertUser.other }}</option>
                                    </select>
                                </div>
                            </div>
                      </div>
                      <div class = "form-row">
                         <div class="form-group col-md-6">
                            <label class="contactlabel" for="work_phone">{{ insertUser.work_phone }}</label>
                            <span class="required">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-addon input-group-text success"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterwork_phone }}" name="work_phone" id="work_phone" value="{{request.form.work_phone}}" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="contactlabel" for="mobile_phone">{{ insertUser.mobile_phone }}</label>
                            <span class="required">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                      <span class="input-group-addon input-group-text success"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone" value="{{request.form.mobile_phone}}" required>
                            </div>
                        </div>
                      </div>
                      <div class="form-row">
                         <div class="form-group col-md-12">
                            <label class="contactlabel" for="biography">{{ insertUser.biography }}</label>
                            <span class="required">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                     <span class="input-group-addon input-group-text success"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterbiography }}" name="biography" id="biography" value="{{request.form.biography}}" required>
                            </div>
                         </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                                <label class="contactlabel" for="role">{{ insertUser.role }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-users" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control" name="role" id="role" value="{{request.form.role}}">
                                        <option value="ADMIN">{{ insertUser.admin }}</option>
                                        <option value="USER">{{ insertUser.user }}</option>
                                    </select>
                                </div>
                          </div>
                          <div class="form-group col-md-6">
                                <label class="contactlabel" for="avatar">{{ insertUser.avatar }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text success"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ insertUser.enterimage }}" name="avatar" id="avatar" value="{{request.form.avatar}}" required>
                                </div>
                          </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageUser.cancel }}</button>
                        <input type="submit" class="btn btn-success" value="{{ manageUser.insert }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
{% endif %}

{% if loggedin_role == 'USER' %}
    <div class="header">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </div>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.norightsadmin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'home';">{{ messages.returntohome }}</button>
        </div>
    </div>

    <div class="errorloginfooter">
        <h2>Footer</h2>
    </div>
{% endif %}

{% if loggedin_role == '' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </nav>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.returntohome }}</button>
        </div>
    </div>

    <div class="errorloginfooter">
        <h2>Footer</h2>
    </div>
{% endif %}



</body>

</html>

