<!DOCTYPE html>
<html>

<head>
    <title>Manage Criminals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
    function validateDelete() {
        confirm("Are you sure?");
    }

    $(document).ready(function() {
            $('#updateModal').on('show.bs.modal', function (e) {
            var _button = $(e.relatedTarget);
            var _row = _button.parents("tr");
            var _id = _row.find(".criminal_id").text();
            var _portrait = _row.find('img').attr("src");
            var _full_name = _row.find(".criminal_full_name").text();
            var _age = _row.find(".criminal_age").text();
            var _gender = _row.find("#gender0").text();
            if (_gender == "Άντρας") {_gender = "Male";}
            if (_gender == "Γυναίκα") {_gender = "Female";}
            if (_gender == "Άλλο") {_gender = "Other";}
            var _height = _row.find(".criminal_height").text();
            var _weight = _row.find(".criminal_weight").text();
            var _eye_color = _row.find("#eyecolor0").text();
            if (_eye_color == "Μαύρο") {_eye_color= "Black";}
            if (_eye_color == "Καφέ") {_eye_color= "Brown";}
            if (_eye_color == "Σκούρο Καφέ") {_eye_color= "Dark Brown";}
            if (_eye_color == "Πράσινο") {_eye_color= "Green";}
            if (_eye_color == "Γαλάζιο") {_eye_color= "Blue";}
            if (_eye_color == "Κεχριμπαρί") {_eye_color= "Amber";}
            if (_eye_color == "Γκρί") {_eye_color= "Gray";}
            var _biography = _row.find(".criminal_bio").text();
            var _last_location = _row.find(".criminal_last_location").text();
            $(this).find(".criminal_id").val(_id);
            $(this).find(".criminal_portrait").val(_portrait);
            $(this).find(".criminal_full_name").val(_full_name);
            $(this).find(".criminal_age").val(_age);
            $(this).find(".criminal_height").val(_height);
            $(this).find(".criminal_weight").val(_weight);
            $("#criminal_eye_color").val(_eye_color).change();
            $("#criminal_gender").val(_gender).change();
            $(this).find(".criminal_bio").val(_biography);
            $(this).find(".criminal_last_location").val(_last_location);
        });
     });

    document.onkeydown = fkey;
    document.onkeypress = fkey
    document.onkeyup = fkey;
    var wasPressed = false;
    function fkey(e){
       e = e || window.event;
       if( wasPressed ) return;
        if (e.keyCode == 116) {
             window.location = 'manage_criminals';
             wasPressed = true;
        }
     }

    if ( window.history.replaceState ) {
          window.history.replaceState( null, null, 'manage_criminals' );
    }

    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
    </script>
</head>

<body style="background-image: url('/static/images/background.jpg')">
{% if login_role == 'ADMIN' %}
    <div class="header">
      <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
      <div class="header-right">
        <a href="home">{{ header.home }}</a>
        {% if login_role == 'ADMIN' %}
          <a href="manage" class="active">{{ header.manage }}</a>
        {% endif %}
        <a href="live_feed">{{ header.livefeed }}</a>
        <a href="contact">{{ header.contact }}</a>
        <a href="settings">{{ header.settings}}</a>
        <a href="logout" id = "logouttab" class="btn btn-danger" style="color: white;"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
      </div>
    </div>

    <br><br><br>

    {% if error %}
        <div class="container errorcontainer">
            <p class="error"><strong>{{ messages.error }}</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container successcontainer">
            <p class="success"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

    <div class="container">
        <h1 align="center">{{ manageCriminal.manage }}</h1>
        <hr>
        <button id="manageInsertButton" class="btn btn-success" data-toggle="modal" data-target="#insertModal">{{ manage.insert }}</button>
        <table class="table">
            <thead class="thead-dark">
                <tr class="black">
                    <th scope="col">{{ manageCriminal.id }}</th>
                    <th scope="col">{{ manageCriminal.portrait }}</th>
                    <th scope="col">{{ manageCriminal.fullname }}</th>
                    <th scope="col">{{ manageCriminal.age }}</th>
                    <th scope="col">{{ manageCriminal.gender }}</th>
                    <th scope="col">{{ manageCriminal.weight }}</th>
                    <th scope="col">{{ manageCriminal.height }}</th>
                    <th scope="col">{{ manageCriminal.eyecolor }}</th>
                    <th scope="col">{{ manageCriminal.biography }}</th>
                    <th scope="col">{{ manageCriminal.lastlocation }}</th>
                    <th scope="col">{{ manageCriminal.update }}</th>
                    <th scope="col">{{ manageCriminal.delete }}</th>
                </tr>
            </thead>
            <tbody class="black">
                {% for row in result %}
                    <tr>
                        <th class="criminal_id" scope="row">{{row.0}}</th>
                        <td class="criminal_portrait"><img src="{{row.7}}" style="width: 100px; height: 100px;"></td>
                        <td class="criminal_full_name">{{row.1}}</td>
                        <td class="criminal_age">{{row.2}}</td>
                        <td class="criminal_gender" id="gender0">{{row.9}}</td>
                        <td class="criminal_height">{{row.3}}</td>
                        <td class="criminal_weight">{{row.4}}</td>
                        <td class="criminal_eye_color" id="eyecolor0">{{row.5}}</td>
                        <td class="criminal_bio">{{row.6}}</td>
                        <td class="criminal_last_location">{{row.8}}</td>
                        <td>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal">{{ manageCriminal.update }}</button>
                        </td>
                        <td>
                            <form action="remove_criminals" method="post">
                                <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                <button class="btn btn-danger confirmation" onclick="validateDelete()">{{ manageCriminal.delete }}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
        <form action="" method="post">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" style="background-color: #f0ad4e; color:white;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ manageCriminal.updatecriminal}}</h4>
                    </div>
                    <div class="modal-body black">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="contactlabel" for="criminal_id">{{ manageCriminal.id }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_id" type="text" id="criminal_id" name="criminal_id" placeholder="{{ manageCriminal.enterid }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_full_name">{{ manageCriminal.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_full_name" type="text" id="criminal_full_name" name="criminal_full_name" placeholder="{{ manageCriminal.enterfullname }}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_portrait">{{ manageCriminal.portrait }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_portrait" type="text" id="criminal_portrait" name="criminal_portrait" placeholder="{{ manageCriminal.enterimage }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_height">{{ manageCriminal.height}}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_height" type="text" id="criminal_height" name="criminal_height" placeholder="{{ manageCriminal.enterheight }}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_weight">{{ manageCriminal.weight }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_weight" type="text" id="criminal_weight" name="criminal_weight" placeholder="{{ manageCriminal.enterweight }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_gender">{{ manageCriminal.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                    <span class="input-group-addon warning"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    <select required class="form-control criminal_gender" name="criminal_gender" id="criminal_gender" value="{{request.form.gender}}">
                                        <option value="Male">{{ manageCriminal.male }}</option>
                                        <option value="Female">{{ manageCriminal.female }}</option>
                                        <option value="Other">{{ manageCriminal.other }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_eye_color">{{ manageCriminal.eyecolor}}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                    <span class="input-group-addon warning"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    <select required class="form-control criminal_eye_color" name="criminal_eye_color" id="criminal_eye_color">
                                        <option value="Black">{{ manageCriminal.black }}</option>
                                        <option value="Brown">{{ manageCriminal.brown }}</option>
                                        <option value="Blue">{{ manageCriminal.blue }}</option>
                                        <option value="Green">{{ manageCriminal.green }}</option>
                                        <option value="Dark Brown">{{ manageCriminal.darkbrown }}</option>
                                        <option value="Amber">{{ manageCriminal.amber }}</option>
                                        <option value="Gray">{{ manageCriminal.gray }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="criminal_age">{{ manageCriminal.age }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_age" type="text" id="criminal_age" name="criminal_age" placeholder="{{ manageCriminal.enterage }}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                  <label class="contactlabel" for="criminal_last_location">{{ manageCriminal.lastlocation }}</label>
                                   <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_last_location" type="text" id="criminal_last_location" name="criminal_last_location" placeholder="{{ manageCriminal.enterlastlocation }}">
                                   </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                  <label class="contactlabel" for="criminal_bio">{{ manageCriminal.crimerecord}}</label>
                                  <span class="required">*</span>
                                  <div class="input-group">
                                     <span class="input-group-addon warning"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                     <textarea class="form-control criminal_bio" id="criminal_bio" name="criminal_bio" placeholder="{{ manageCriminal.entercrimerecord }}" style="height:200px" required></textarea>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageCriminal.cancel }}</button>
                        <input type="submit" class="btn btn-warning" value="{{ manageCriminal.update }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="insertModal" role="dialog">
        <form action="insert_criminals" method="post">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" style="background-color: rgb(76, 174, 76); color:white;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ manageCriminal.insertCriminal}}</h4>
                    </div>
                    <div class="modal-body black">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="fullname">{{ insertCriminal.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon success"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input class="form-control" type="text" id="fullname" name="fullname" placeholder="{{ insertCriminal.enterfullname }}" value="{{request.form.fullname}}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="portrait">{{ insertCriminal.portrait }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon success"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                     <input class="form-control" type="text" id="portrait" name="portrait" placeholder="{{ insertCriminal.enterimage }}" value="{{request.form.portrait}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="gender">{{ manageCriminal.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                    <span class="input-group-addon success"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    <select required class="form-control user_gender" name="gender" id="gender" value="{{request.form.gender}}">
                                        <option value="Male">{{ manageCriminal.male }}</option>
                                        <option value="Female">{{ manageCriminal.female }}</option>
                                        <option value="Other">{{ manageCriminal.other }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="eye_color">{{ insertCriminal.eyecolor }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                    <span class="input-group-addon success"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    <select required class="form-control" name="eye_color" id="eye_color" value="{{request.form.eye_color}}">
                                        <option value="Black" style="background-image: url('/static/images/background.jpg'); !important;">{{ insertCriminal.black }}</option>
                                        <option value="Brown">{{ insertCriminal.brown }}</option>
                                        <option value="Blue">{{ insertCriminal.blue }}</option>
                                        <option value="Green">{{ insertCriminal.green }}</option>
                                        <option value="Dark Brown">{{ insertCriminal.darkbrown }}</option>
                                        <option value="Amber">{{ insertCriminal.amber }}</option>
                                        <option value="Gray">{{ insertCriminal.gray }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="height">{{ insertCriminal.height }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon success"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control" type="text" id="height" name="height" placeholder="{{ insertCriminal.enterheight}}" value="{{request.form.height}}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="weight">{{ insertCriminal.weight }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon success"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control" type="text" id="weight" name="weight" placeholder="{{ insertCriminal.enterweight}}" value="{{request.form.weight}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="age">{{ insertCriminal.age }}</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon success"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control" type="text" id="age" name="age" placeholder="{{ insertCriminal.enterage }}" value="{{request.form.age}}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                  <label class="contactlabel" for="last_location">{{ insertCriminal.lastlocation }}</label>
                                   <div class="input-group">
                                     <span class="input-group-addon success"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                     <input class="form-control" type="text" id="last_location" name="last_location" placeholder="{{ insertCriminal.enterlastlocation }}" value="{{request.form.last_location}}">
                                   </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                              <label class="contactlabel" for="biography">{{ insertCriminal.crimerecord }}</label>
                              <span class="required">*</span>
                              <div class="input-group">
                                 <span class="input-group-addon success"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                 <textarea class="form-control" id="biography" name="biography" placeholder="{{ insertCriminal.entercrimerecord}}" value="{{request.form.biography}}" style="height:200px" required></textarea>
                              </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageCriminal.cancel }}</button>
                        <input type="submit" class="btn btn-success" value="{{ manageCriminal.insert }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
{% endif %}

{% if login_role == 'USER' %}
    <div class="header">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </div>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.norightsadmin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'home';">{{ messages.returntohome }}</button>
        </div>
    </div>

    <div class="errorloginfooter">
        <h2>Footer</h2>
    </div>
{% endif %}

{% if login_role == '' %}
    <div class="header">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </div>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.returntohome}}</button>
        </div>
    </div>

    <div class="errorloginfooter">
        <h2>Footer</h2>
    </div>
{% endif %}
</body>



</html>

