<!DOCTYPE html>
<html>

<head>
    <title>Manage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if site_theme == 'Light Theme' %}
        <link rel="stylesheet" href="/static/css/light.css">
    {% endif %}
    {% if site_theme == 'Dark Theme' %}
        <link rel="stylesheet" href="/static/css/dark.css">
    {% endif %}
    <link rel="stylesheet" href="/static/css/smallFonts.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
{% if loggedin_role == 'ADMIN' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="home">{{ header.home }}</a>
                </li>
                {% if loggedin_role == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="manage">{{ header.manage }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="live_feed">{{ header.livefeed }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">{{ header.contact }}</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ header.welcome }} {{ loggedin_user }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="settings">{{ header.settings }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="logout" id="logouttab" class="btn btn-danger" style="width: 100%"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br>

    <div id="wrap" class="container">
        <h1 align="center">{{ manage.panel }}</h1>
        <hr><br><br>
        <div id="left">
            <div class="centererrorbutton">
                <button class="btn btn-warning btn-lg" onclick="window.location.href = 'manage_criminals';">{{ manage.editcriminals }}</button>
            </div>
            <br><br>
            <p><i>{{ manage.editinfo }}</i></p>
            <ul>
                <li><i>{{ manage.insertcriminals }}</i></li>
                <li><i>{{ manage.updatecriminals }}</i></li>
                <li><i>{{ manage.removecriminals }}</i></li>
            </ul>
        </div>
        <div id="right">
            <div class="centererrorbutton">
                <button class="btn btn-warning btn-lg" onclick="window.location.href = 'manage_users';">{{ manage.editusers }}</button>
            </div>
            <br><br>
            <p><i>{{ manage.editinfo }}</i></p>
            <ul>
                <li><i>{{ manage.insertusers }}</i></li>
                <li><i>{{ manage.updateusers }}</i></li>
                <li><i>{{ manage.removeusers }}</i></li>
            </ul>
        </div><br><br>
    </div>

{% endif %}

{% if loggedin_role == 'USER' %}
    <div class="header">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </div>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.norightsadmin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'home';">{{ messages.returntohome }}</button>
        </div>
    </div>

{% endif %}

{% if loggedin_role == '' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </nav>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.login }}</button>
        </div>
    </div>

{% endif %}

    <div class="myfooter">
        <h4>{{ header.footer }}</h4>
    </div>

</body>
</html>