<!DOCTYPE html>
<html>

<head>
    <title>Settings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style_v2.css">
    <style>
     .required {
            color: red;
            font-weight: bold;
     }

    * {
        box-sizing: border-box;
    }

    /* Style the body */
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }

    /* Header/logo Title */
    .header {
      padding: 5px;
      text-align: center;
      background: #0275d8;
      color: white;
    }

    /* Increase the font size of the heading */
    .header h1 {
      font-size: 30px;
    }

    /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
    .navbar {
      overflow: hidden;
      background-color: #333;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
    }

    /* Style the navigation bar links */
    .navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }


    /* Right-aligned link */
    .navbar a.right {
      float: right;
    }

    /* Change color on hover */
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Active/current link */
    .navbar a.active {
      background-color: #666;
      color: white;
    }

    /* Column container */
    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
    }

    /* Create two unequal columns that sits next to each other */
    /* Sidebar/left column */
    .side {
      -ms-flex: 30%; /* IE10 */
      flex: 30%;
      background-color: #f1f1f1;
      padding: 20px;
    }

    /* Main column */
    .main {
      -ms-flex: 70%; /* IE10 */
      flex: 70%;
      background-color: white;
      padding: 20px;
    }

    /* Fake image, just for this example */
    .fakeimg {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
    }

    /* Footer */
    .footer {
      padding: 5px;
      text-align: center;
      background: #ddd;
    }

    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 700px) {
      .row {
        flex-direction: column;
      }
    }

    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
      .navbar a {
        float: none;
        width: 100%;
      }
    }
    </style>
    <script>
    $(document).ready(function() {
            $('#updateModal').on('show.bs.modal', function (e) {
            var _button = $(e.relatedTarget);
            var _row = _button.parents("div");
            var _id = _row.find(".user_id").val();
            var _username = _row.find(".user_username").val();
            var _password = _row.find(".user_password").val();
            var _email = _row.find(".user_email").val();
            var _fullname = _row.find(".user_full_name").val();
            var _gender = _row.find("#gender0").val();
            if (_gender == "Άντρας") {_gender = "Male"}
            if (_gender == "Γυναίκα") {_gender = "Female"}
            if (_gender == "Άλλο") {_gender = "Other"}
            var _biography = _row.find(".user_biography").val();
            var _work_phone = _row.find(".user_work_phone").val();
            var _mobile_phone = _row.find(".user_mobile_phone").val();
            var _role = _row.find("#role0").val();
            if (_role == "Διαχειριστής") {_role = "ADMIN"}
            if (_role == "Χρήστης") {_role = "USER"}
            var _avatar = _row.find('img').attr("src");
            $(this).find(".user_id").val(_id);
            $(this).find(".user_username").val(_username);
            $(this).find(".user_password").val(_password);
            $(this).find(".user_email").val(_email);
            $(this).find(".user_full_name").val(_fullname);
            $("#gender").val(_gender).change();
            $(this).find(".user_biography").val(_biography);
            $(this).find(".user_work_phone").val(_work_phone);
            $(this).find(".user_mobile_phone").val(_mobile_phone);
            $("#role").val(_role).change();
            $(this).find(".user_avatar").val(_avatar);
        });
     });

     if ( window.history.replaceState ) {
        window.history.replaceState( null, null, 'settings' );
     }

    document.onkeydown = fkey;
    document.onkeypress = fkey
    document.onkeyup = fkey;
    var wasPressed = false;
    function fkey(e){
       e = e || window.event;
       if( wasPressed ) return;
        if (e.keyCode == 116) {
             window.location = 'settings';
             wasPressed = true;
        }
     }
    </script>
</head>

<body>

<div class="header">
  <img src="/static/images/greekpolice.png" alt="Police logo" style="width: 7%;">
  <h2>{{ settings.title }}</h2>
</div>

<div class="navbar">
    <a href="home">{{ header.home }}</a>
    {% if login_role == 'ADMIN' %}
        <a href="manage">{{ header.manage }}</a>
    {% endif %}
    <a href="live_feed">{{ header.livefeed }}</a>
    <a href="contact">{{ header.contact }}</a>
    <a href="logout" class="btn btn-danger" style="float:right;"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
    <a href="settings" class="active" style="float:right;">{{ header.settings }}</a>
</div>


<br><br><br>

{% if error %}
    <div class="container" style="width:35%; background-color: red;">
        <p class="error" style="color: white; text-align:center; align:center;"><strong>{{ messages.error }}</strong> {{ error }}</p>
    </div><br><br>
{% endif %}
{% if success %}
    <div class="container" style="width: 35%; background-color: green;">
        <p class="success" style="color: white; text-align:center; align:center;"><strong> {{ success }}</strong></p>
    </div><br><br>
{% endif %}


<div class="row">
  <div class="side">
        <h2 style="text-align:center">{{ settings.myprofile }}</h2>
        <div style="text-align:center">
            <img src="{{user[10]}}" style="width: 60%; height: auto; align: center;">
        </div><hr>
        <input class="user_id" type="hidden" id="id" name="id" value="{{ user[0] }}">
        <div class="form-group">
            <label class="contactlabel" for="username">{{ manageUser.username }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_username" placeholder="{{ manageUser.enterusername }}" name="username" id = "username" value="{{ user[1] }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="full_name">{{ manageUser.fullname }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_full_name" placeholder="{{  manageUser.enterpassword }}" name="full_name" id="full_name" value = "{{ user[4] }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="email">{{ manageUser.email }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_email" placeholder="{{  manageUser.enteremail}}" name="email" id="email"  value = "{{ user[3] }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="gender">{{ manageUser.gender }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_gender" placeholder="{{ manageUser.entergender }}" name="gender" id="gender0" value = "{{ user[5] }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="biography">{{ manageUser.biography }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_biography" placeholder="{{manageUser.enterbiography}}" name="biography" id="biography" value = "{{ user[6] }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="work_phone">{{ manageUser.work_phone }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_work_phone" placeholder="{{ manageUser.enterwork_phone}}" name="work_phone" id="work_phone" value = "{{ user[7] }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="mobile_phone">{{ manageUser.mobile_phone }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_mobile_phone" placeholder="{{ manageUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone" value = "{{ user[8] }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="contactlabel" for="role">{{ manageUser.role }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <input type="text" autocomplete="off" class="form-control user_role" placeholder="{{ manageUser.enterrole }}" name="role" id="role0" value = "{{ user[9] }}" readonly>
            </div>
        </div>
        <div class="form-group" style="text-align:center">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateModal">{{ manageUser.update }}</button>
        </div>
  </div>

  <div class="main">
    <h2>{{ settings.mysettings }}</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>

  <div class="modal fade" id="updateModal" role="dialog">
        <form action="" method="post">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" style="background-color: #0275d8; color:white;">
                        <button type="button" class="close" data-dismiss="modal" style="color:white;">&times;</button>
                        <h4 class="modal-title">{{ manageUser.updateuser }}</h4>
                    </div>
                    <div class="modal-body black">
                        <div class="form-group">
                            <label class="contactlabel" for="id">{{ manageUser.id }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_id" placeholder="{{ manageUser.enterid }}" name="id" id = "id" value="{{request.form.id}}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="username">{{ manageUser.username }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_username" placeholder="{{ manageUser.enterusername }}" name="username" id="username" value="{{request.form.username}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="password">{{ manageUser.password }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterpassword }}" name="password" id="password" value="{{request.form.password}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="full_name">{{ manageUser.fullname }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_full_name" placeholder="{{ manageUser.enterfullname }}" name="full_name" id="full_name" value="{{request.form.full_name}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="email">{{ manageUser.email }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_email" placeholder="{{ manageUser.enteremail }}" name="email" id="email" value="{{request.form.email}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="gender">{{ manageUser.gender }}</label>
                            <span class="required">*</span>
                            <div class="input-group div_gender">
                                <span class="input-group-addon"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                <select required class="form-control user_gender" name="gender" id="gender" value="{{request.form.gender}}">
                                    <option value="Male">{{ manageUser.male }}</option>
                                    <option value="Female">{{ manageUser.female }}</option>
                                    <option value="Other">{{ manageUser.other }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="biography">{{ manageUser.biography }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_biography" placeholder="{{ manageUser.enterbiography }}" name="biography" id="biography" value="{{request.form.biography}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="work_phone">{{ manageUser.work_phone }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_work_phone" placeholder="{{ manageUser.enterwork_phone }}" name="work_phone" id="work_phone" value="{{request.form.work_phone}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="mobile_phone">{{ manageUser.mobile_phone }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_mobile_phone" placeholder="{{ manageUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone" value="{{request.form.mobile_phone}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="role">{{ manageUser.role }}</label>
                            <span class="required">*</span>
                            <div class="input-group div_role">
                                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                                <select required class="form-control user_role" name="role" id="role" value="{{request.form.role}}">
                                    <option value="ADMIN">{{ manageUser.admin }}</option>
                                    <option value="USER">{{ manageUser.user }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="contactlabel" for="avatar">{{ manageUser.avatar }}</label>
                            <span class="required">*</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                <input type="text" autocomplete="off" class="form-control user_avatar" placeholder="{{ manageUser.enterimage }}" name="avatar" id="avatar" value="{{request.form.avatar}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageUser.cancel }}</button>
                        <input type="submit" class="btn btn-primary" value="{{ manageUser.update }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

</div>


<div class="footer">
  <h2>Footer</h2>
</div>






</body>
</html>
