<!DOCTYPE html>
<html>

<head>
    <title>Settings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if site_theme == 'Light Theme' %}
        <link rel="stylesheet" href="/static/css/light.css">
    {% endif %}
    {% if site_theme == 'Dark Theme' %}
        <link rel="stylesheet" href="/static/css/dark.css">
    {% endif %}
    {% if site_fontsize == 12 %}
        <link rel="stylesheet" href="/static/css/smallFonts.css">
    {% endif %}
    {% if site_fontsize == 16 %}
        <link rel="stylesheet" href="/static/css/bigFonts.css">
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
         $(document).ready(function() {
            $('#updateModal').on('show.bs.modal', function (e) {
            var _button = $(e.relatedTarget);
            var _row = _button.parents("div");
            var _id = _row.find(".user_id").val();
            var _username = _row.find(".user_username").val();
            var _password = _row.find(".user_password").val();
            var _email = _row.find(".user_email").val();
            var _fullname = _row.find(".user_full_name").val();
            var _gender = _row.find("#gender0").val();
            if (_gender == "Άντρας") {_gender = "Male"}
            if (_gender == "Γυναίκα") {_gender = "Female"}
            if (_gender == "Άλλο") {_gender = "Other"}
            var _biography = _row.find(".user_biography").val();
            var _work_phone = _row.find(".user_work_phone").val();
            var _mobile_phone = _row.find(".user_mobile_phone").val();
            var _role = _row.find("#role0").val();
            if (_role == "Διαχειριστής") {_role = "ADMIN"}
            if (_role == "Χρήστης") {_role = "USER"}
            var _avatar = _row.find('img').attr("src");
            $(this).find(".user_id").val(_id);
            $(this).find(".user_username").val(_username);
            $(this).find(".user_password").val(_password);
            $(this).find(".user_email").val(_email);
            $(this).find(".user_full_name").val(_fullname);
            $("#gender").val(_gender).change();
            $(this).find(".user_biography").val(_biography);
            $(this).find(".user_work_phone").val(_work_phone);
            $(this).find(".user_mobile_phone").val(_mobile_phone);
            $("#role").val(_role).change();
            $(this).find(".user_avatar").val(_avatar);
        });

        $('#appearanceModal').on('show.bs.modal', function (e) {
            var _button = $(e.relatedTarget);
            var _row = _button.parents("div");
            var _id = _row.find(".user_id").val();
            var _theme = _row.find("#theme0").val();
            var _language = _row.find("#language0").val();
            var _fontsize = _row.find(".user_fontsize").val();
            if (_theme == "Ανοιχτόχρωμο Θέμα") {_theme = "Light Theme"}
            if (_theme == "Σκουρόχρωμο Θέμα") {_theme = "Dark Theme"}
            if (_language == "Αγγλικά") {_language = "English"}
            if (_language == "Ελληνικά") {_language = "Greek"}
            $(this).find(".user_id").val(_id);
            $(this).find(".user_fontsize").val(_fontsize);
            $("#theme").val(_theme).change();
            $("#language").val(_language).change();
        });
 });

 if ( window.history.replaceState ) {
    window.history.replaceState( null, null, 'settings' );
 }

document.onkeydown = fkey;
document.onkeypress = fkey
document.onkeyup = fkey;
var wasPressed = false;

function fkey(e){
   e = e || window.event;
   if( wasPressed ) return;
    if (e.keyCode == 116) {
         window.location = 'settings';
         wasPressed = true;
    }
}

function manageProfile() {
      var profileDiv = document.getElementById("profileSettingsDiv");
      var profileList = document.getElementById("profileSettingsLink");
      var appearanceDiv = document.getElementById("appearanceSettingsDiv");
      var appearanceList = document.getElementById("appearanceSettingsLink");
      if (profileDiv.style.display === "none") {
        profileDiv.style.display = "block";
        profileList.classList.add('active')
        if (appearanceDiv.style.display === "block") {
            appearanceDiv.style.display = "none";
            appearanceList.classList.remove('active')
        }
      } else {
        profileDiv.style.display = "none";
        profileList.classList.remove('active')
      }
}

function manageAppearance() {
      var appearanceDiv = document.getElementById("appearanceSettingsDiv");
      var appearanceList = document.getElementById("appearanceSettingsLink");
      var profileDiv = document.getElementById("profileSettingsDiv");
      var profileList = document.getElementById("profileSettingsLink");
      if (appearanceDiv.style.display === "none") {
        appearanceDiv.style.display = "block";
        appearanceList.classList.add('active')
        if (profileDiv.style.display === "block") {
            profileDiv.style.display = "none";
            profileList.classList.remove('active')
        }
      } else {
        appearanceDiv.style.display = "none";
        appearanceList.classList.remove('active')
      }
}
    </script>
    <script language="JavaScript" type="text/javascript" src="/static/js/settings.js"></script>
    {% if site_language == 'English' %}
        <script language="JavaScript" type="text/javascript" src="/static/js/validateUsersEN.js"></script>
    {% endif %}
    {% if site_language == 'Greek' %}
        <script language="JavaScript" type="text/javascript" src="/static/js/validateUsersGR.js"></script>
    {% endif %}
</head>

<body>
{% if loggedin_role %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link" href="home">{{ header.home }}</a>
            </li>
            {% if loggedin_role == 'ADMIN' %}
                <li class="nav-item">
                    <a class="nav-link" href="manage">{{ header.manage }}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="live_feed">{{ header.livefeed }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">{{ header.contact }}</a>
            </li>
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLinkfix" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ header.welcome }} {{ loggedin_user }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLinkfix">
                    <a class="dropdown-item" href="settings">{{ header.settings }}</a>
                    <div class="dropdown-divider"></div>
                    <a href="logout" id="logouttab" class="btn btn-danger" style="width: 100%"><span class="glyphicon glyphicon-log-out"></span> {{ header.logout }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<br><br>

<!--
<div class="country-container container">
    <div class="dropdown">
        <button class="btn btn-successdropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Language</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item"><img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132503/iflag.jpg" width="20" height="15"> Greek</li>
            <li class="dropdown-item"><img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132504/uflag.jpg" width="20" height="15"> USA</li>
        </ul>
    </div>
</div>
<br><br><br>
-->

    <div class="wrapper">


        <nav id="sidebar" style="margin-top: -42px;">
            <div class="sidebar-header">
                <h3>My Settings</h3>
            </div>
            <ul class="list-unstyled components">
                <li id="profileSettingsLink" class="active">
                    <a href="#" onclick="manageProfile();">{{ settings.myprofile }}</a>
                </li>
                <li id="appearanceSettingsLink">
                    <a href="#" onclick="manageAppearance();">{{ settings.mysettings }}</a>
                </li>
            </ul>
        </nav>


        <div class="container" id="profileSettingsDiv" style="display: block;">
            {% if profileerror %}
                <div class="container errorcontainer" style="height: 7%;">
                    <p class="error"><strong>Error:</strong> {{ profileerror }}</p>
                </div>
            {% endif %}
            {% if profilesuccess %}
                <div class="container successcontainer" style="height: 7%;">
                    <p class="success"><strong> {{ profilesuccess }}</strong></p>
                </div>
            {% endif %}
            <div id="content">
                <h1 style="text-align:center">{{ settings.myprofile }}</h1><hr>
                <input class="user_id" type="hidden" id="id" name="id" value="{{ user[0] }}">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="contactlabel" for="username">{{ manageUser.username }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_username" placeholder="{{ manageUser.enterusername }}" name="username" id = "username" value="{{ user[1] }}" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="contactlabel" for="password">{{ manageUser.password }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterpassword }}" name="password" id="password" value="{{ user[2] }}" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="contactlabel" for="full_name">{{ manageUser.fullname }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_full_name" placeholder="{{  manageUser.enterpassword }}" name="full_name" id="full_name" value = "{{ user[4] }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="contactlabel" for="email">{{ manageUser.email }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_email" placeholder="{{  manageUser.enteremail}}" name="email" id="email"  value = "{{ user[3] }}" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="contactlabel" for="gender0">{{ manageUser.gender }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_gender" placeholder="{{ manageUser.entergender }}" name="gender" id="gender0" value = "{{ user[5] }}" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="contactlabel" for="role0">{{ manageUser.role }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                 <span class="input-group-addon input-group-text primary"><i class="fa fa-users" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_role" placeholder="{{ manageUser.enterrole }}" name="role" id="role0" value = "{{ user[9] }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="contactlabel" for="work_phone">{{ manageUser.work_phone }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                 <span class="input-group-addon input-group-text primary"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_work_phone" placeholder="{{ manageUser.enterwork_phone}}" name="work_phone" id="work_phone" value = "{{ user[7] }}" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="contactlabel" for="mobile_phone">{{ manageUser.mobile_phone }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                  <span class="input-group-addon input-group-text primary"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_mobile_phone" placeholder="{{ manageUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone" value = "{{ user[8] }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label class="contactlabel" for="image">{{ manageUser.avatar }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            </div>
                            <img src="{{ user[10] }}" class="form-control" id="image" style="height: 185px;">
                        </div>
                    </div>
                    <div class="form-group col-md-9">
                        <label class="contactlabel" for="biography">{{ manageUser.biography }}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                 <span class="input-group-addon input-group-text primary"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_biography" placeholder="{{manageUser.enterbiography}}" name="biography" id="biography" value = "{{ user[6] }}" style="height: 185px;" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <button class="btn btn-danger btn-lg" onclick="manageProfile()">{{ manageUser.close }}</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateModal">{{ manageUser.update }}</button>
                </div>
            </div>
        </div>

        <div class="container" id="appearanceSettingsDiv" style="display: none; height: 450px;">
            {% if appearanceerror %}
                <div class="container errorcontainer" style="height: 10%;">
                    <p class="error"><strong>Error:</strong> {{ appearanceerror }}</p>
                </div>
            {% endif %}
            {% if appearancesuccess %}
                <div class="container successcontainer" style="height: 10%;">
                    <p class="success"><strong> {{ appearancesuccess }}</strong></p>
                </div>
            {% endif %}
            <div id="content">
                 <h1 style="text-align:center">{{ settings.mysettings }}</h1><hr>
                 <input class="user_id" id="appearanceid" name="id" value="{{ user[0] }}" hidden>
                 <div class="form-row">
                     <div class="form-group col-md-12">
                        <label class="contactlabel" for="theme">{{ settings.theme }}</label>
                        <div class="input-group mb-3 div_theme">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_theme" name="theme" id="theme0" value = "{{ user[11] }}" readonly>
                        </div>
                     </div>
                 </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="contactlabel" for="language">{{ settings.language }}</label>
                        <div class="input-group mb-3 div_language">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-globe" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_language" name="language" id="language0" value = "{{ user[12] }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="contactlabel" for="fontsize">{{ settings.fontsize }}</label>
                        <div class="input-group mb-3 div_fontsize">
                            <div class="input-group-prepend">
                                <span class="input-group-addon input-group-text primary"><i class="fa fa-font" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control user_fontsize" name="fontsize" id="fontsize0" value = "{{ user[13] }}" readonly>
                        </div>
                    </div>
                </div>
                 <div class="form-group" style="text-align:center">
                    <button class="btn btn-danger btn-lg" onclick="manageAppearance();">{{ manageUser.close }}</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#appearanceModal">{{ manageUser.update }}</button>
                 </div>
            </div>
      </div>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
        <form action="" method="post" onsubmit="UsersValidation('username1','email1','password1','retype_password1','full_name1','gender1','work_phone1','mobile_phone1','biography1','role1','avatar1')">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="settingsModalHeader">
                        <h4 class="modal-title">{{ manageUser.updateMyProfile }}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body black">
                        <input type="text" autocomplete="off" class="form-control user_id" placeholder="{{ manageUser.enterid }}" name="id" id = "id1" value="{{request.form.id}}" hidden>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="username">{{ manageUser.username }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                         <span class="input-group-addon input-group-text primary"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_username" placeholder="{{ manageUser.enterusername }}" name="username" id="username1" value="{{request.form.username}}" onkeyup="UsernameValidation('username1')" required>
                                </div>
                                <div class="error-messages" id="username1_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="email">{{ manageUser.email }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                          <span class="input-group-addon input-group-text primary"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_email" placeholder="{{ manageUser.enteremail }}" name="email" id="email1" value="{{request.form.email}}" onkeyup="EmailValidation('email1')" required>
                                </div>
                                <div class="error-messages" id="email1_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="password">{{ manageUser.password }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text primary"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterpassword }}" name="password" id="password1" value="{{request.form.password}}" onkeyup="PasswordValidation('password1')" required>
                                </div>
                                <div class="error-messages" id="password1_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="retype_password1">{{ manageUser.retype_password }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-addon input-group-text primary"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" autocomplete="off" class="form-control user_password" placeholder="{{ manageUser.enterretype_password }}" name="retype_password" id="retype_password1" value="{{request.form.retype_password}}" onkeyup="RetypePasswordValidation('retype_password1')" required>
                                </div>
                                <div class="error-messages" id="retype_password1_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="full_name">{{ manageUser.fullname }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                         <span class="input-group-addon input-group-text primary"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_full_name" placeholder="{{ manageUser.enterfullname }}" name="full_name" id="full_name1" value="{{request.form.full_name}}" onkeyup="FullnameValidation('full_name1')" required>
                                </div>
                                <div class="error-messages" id="full_name1_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="gender1">{{ manageUser.gender }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3 div_gender">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text primary"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_gender" name="gender" id="gender1" value="{{request.form.gender}}" onchange="DropdownValidation('gender1')">
                                        <option value="Male">{{ manageUser.male }}</option>
                                        <option value="Female">{{ manageUser.female }}</option>
                                        <option value="Other">{{ manageUser.other }}</option>
                                    </select>
                                </div>
                                <div class="error-messages" id="gender1_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="work_phone">{{ manageUser.work_phone }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                         <span class="input-group-addon input-group-text primary"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_work_phone" placeholder="{{ manageUser.enterwork_phone }}" name="work_phone" id="work_phone1" value="{{request.form.work_phone}}" onkeyup="PhoneValidation('work_phone1')" required>
                                </div>
                                <div class="error-messages" id="work_phone1_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="mobile_phone">{{ manageUser.mobile_phone }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                          <span class="input-group-addon input-group-text primary"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_mobile_phone" placeholder="{{ manageUser.entermobile_phone }}" name="mobile_phone" id="mobile_phone1" value="{{request.form.mobile_phone}}" onkeyup="PhoneValidation('mobile_phone1')" required>
                                </div>
                                <div class="error-messages" id="mobile_phone1_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="contactlabel" for="biography">{{ manageUser.biography }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text primary"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_biography" placeholder="{{ manageUser.enterbiography }}" name="biography" id="biography1" value="{{request.form.biography}}" onkeyup="BiographyValidation('biography1')" required>
                                </div>
                                <div class="error-messages" id="biography1_errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="role1">{{ manageUser.role }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3 div_role">
                                    <div class="input-group-prepend">
                                          <span class="input-group-addon input-group-text primary"><i class="fa fa-users" aria-hidden="true"></i></span>
                                    </div>
                                    {% if loggedin_role == 'ADMIN' %}
                                        <select required class="form-control user_role" name="role" id="role1" value="{{request.form.role}}" onchange="DropdownValidation('role1')">
                                            <option value="ADMIN">{{ manageUser.admin }}</option>
                                            <option value="USER">{{ manageUser.user }}</option>
                                        </select>
                                    {% endif %}
                                    {% if loggedin_role == 'USER' %}
                                        <select required class="form-control user_role" name="role" id="role1" value="{{request.form.role}}" disabled>
                                            <option value="ADMIN">{{ manageUser.admin }}</option>
                                            <option value="USER">{{ manageUser.user }}</option>
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="error-messages" id="role1_errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="contactlabel" for="avatar1">{{ manageUser.avatar }}</label>
                                <span class="required">*</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text primary"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control user_avatar" placeholder="{{ manageUser.enterimage }}" name="avatar" id="avatar1" value="{{request.form.avatar}}" onkeyup="URLValidation('avatar1')" required>
                                </div>
                                <div class="error-messages" id="avatar1_errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageUser.cancel }}</button>
                        <input type="submit" class="btn btn-primary" value="{{ settings.submit }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="appearanceModal" role="dialog">
        <form action="menu_settings" method="post">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header" id="settingsModalHeader">
                        <h4 class="modal-title">{{ manageUser.updateMyAppearance }}</h4>
                        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body black">
                        <input type="text" autocomplete="off" class="form-control user_id" placeholder="{{ manageUser.enterid }}" name="id" id = "id2" value="{{request.form.id}}" hidden>
                        <div class="form-row">
                             <div class="form-group col-md-12">
                                <label class="contactlabel" for="theme">{{ settings.theme }}</label>
                                <div class="input-group mb-3 div_theme">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text primary"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_theme" name="theme" id="theme" value="{{request.form.theme}}">
                                        <option value="Light Theme">{{ settings.lightTheme }}</option>
                                        <option value="Dark Theme">{{ settings.darkTheme }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="contactlabel" for="language">{{ settings.language }}</label>
                                <div class="input-group mb-3 div_language">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text primary"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_language" name="language" id="language" value="{{request.form.language}}">
                                        <option value="English">{{ settings.english }}</option>
                                        <option value="Greek">{{ settings.greek }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="contactlabel" for="fontsize">{{ settings.fontsize }}</label>
                                <div class="input-group mb-3 div_fontsize">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon input-group-text primary"><i class="fa fa-font" aria-hidden="true"></i></span>
                                    </div>
                                    <select required class="form-control user_fontsize" name="fontsize" id="fontsize" value="{{request.form.fontsize}}">
                                        <option value="12">12 {{ settings.smallFont }}</option>
                                        <option value="14">14 {{ settings.mediumFont }}</option>
                                        <option value="16">16 {{ settings.bigFont }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ manageUser.cancel }}</button>
                        <input type="submit" class="btn btn-primary" value="{{ settings.submit }}">
                    </div>
              </div>
            </div>
        </form>
    </div>

{% endif %}

{% if loggedin_role == '' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img id="policeimage" src="/static/images/greekpolice.png" alt="Police logo">
    </nav>

    <div class="container errorcontainerfillpage">
        <p class="error"><strong>{{ messages.error }}</strong> {{ messages.notloggedin }}</p>
        <div class="centererrorbutton">
            <button class="btn btn-primary" onclick="window.location.href = 'login';">{{ messages.login }}</button>
        </div>
    </div>

{% endif %}

    <div class="myfooter">
        <h4>{{ header.footer }}</h4>
    </div>
</body>
</html>