<!DOCTYPE html>
<html>

<head>
    <title>Signup Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container {
            border-radius: 20px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        .footer {
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
            color: black;
            margin-top: 4%;
            text-align: center;
        }
    </style>
</head>

<body style="background-image: url('/static/images/background.jpg')">

<div class="header">
    <img src="/static/images/greekpolice.png" alt="Police logo" style="width: 3%;">
</div>

{% if error %}
    <div class="container" style="width:35%; background-color: red;">
        <p class="error" style="color: white; text-align:center; align:center;"><strong>{{ messages.error }}</strong> {{ error }}</p>
    </div><br><br>
{% endif %}
{% if success %}
    <div class="container" style="width: 35%; background-color: green;">
        <p class="success" style="color: white; text-align:center; align:center;"><strong> {{ success }}</strong></p>
    </div><br><br>
{% endif %}

<br><br><br>

<div class="container">
      <form action="signup" method="post">
          <h2 class="text-center" style="text-align: center; color: black; !important;">{{ signup.title }}</h2>
          <hr style="border: 1px solid black; !important">
          <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="contactlabel" for="username">{{ signup.username }}</label>
                    <span class="required">*</span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" autocomplete="off" class="form-control" placeholder="{{ signup.enterusername }}" name="username" id = "username" value="{{request.form.username}}" required>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="contactlabel" for="email">{{ signup.email }}</label>
                    <span class="required">*</span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <input type="text" autocomplete="off" class="form-control" placeholder="{{ signup.enteremail }}" name="email" id="email" value="{{request.form.email}}" required>
                    </div>
                </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                    <label class="contactlabel" for="password">{{ signup.password }}</label>
                    <span class="required">*</span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input type="password" autocomplete="off" class="form-control" placeholder="{{ signup.enterpassword }}" name="password" id="password" value="{{request.form.password}}" required>
                    </div>
              </div>
              <div class="form-group col-md-6">
                    <label class="contactlabel" for="retype_password">{{ signup.retype_password }}</label>
                    <span class="required">*</span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input type="password" autocomplete="off" class="form-control" placeholder="{{ signup.enterretype_password }}" name="retype_password" id="retype_password" value="{{request.form.retype_password}}" required>
                    </div>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
                <label class="contactlabel" for="full_name">{{ signup.fullname }}</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ signup.enterfullname }}" name="full_name" id="full_name" value="{{request.form.full_name}}" required>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="contactlabel" for="gender">{{ signup.gender }}</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                    <select required class="form-control" name="gender" id="gender" value="{{request.form.gender}}">
                        <option value="Male">{{ signup.male }}</option>
                        <option value="Female">{{ signup.female }}</option>
                        <option value="Other">{{ signup.other }}</option>
                    </select>
                </div>
            </div>
          </div>
          <div class = "form-row">
              <div class="form-group col-md-6">
                <label class="contactlabel" for="work_phone">{{ signup.work_phone }}</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ signup.enterwork_phone }}" name="work_phone" id="work_phone" value="{{request.form.work_phone}}" required>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="contactlabel" for="mobile_phone">{{ signup.mobile_phone }}</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ signup.entermobile_phone }}" name="mobile_phone" id="mobile_phone" value="{{request.form.mobile_phone}}" required>
                </div>
            </div>
          </div>
          <div class="form-group">
                <label class="contactlabel" for="biography">{{ signup.biography }}</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ signup.enterbiography }}" name="biography" id="biography" value="{{request.form.biography}}" required>
                </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                <label class="contactlabel" for="role">{{ signup.role }}</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                    <select required class="form-control" name="role" id="role" value="{{request.form.role}}">
                        <option value="ADMIN">{{ signup.admin }}</option>
                        <option value="USER">{{ signup.user }}</option>
                    </select>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="contactlabel" for="avatar">{{ signup.avatar }}</label>
                <span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                    <input type="text" autocomplete="off" class="form-control" placeholder="{{ signup.enterimage }}" name="avatar" id="avatar" value="{{request.form.avatar}}" required>
                </div>
            </div>
          </div>
          <hr style="border: 1px solid black; !important">
          <div class="form-row">
              <button class="btn btn-warning btn-lg" onclick="window.location.href = 'welcome';" style="margin: auto; background-color: #f0ad4e; !important">{{ signup.returnhome }}</button>
              <input type="reset" class="btn btn-danger btn-lg" style="margin: auto; background-color: #d9534f; !important" value="{{ signup.reset }}">
              <button type="submit" class="btn btn-primary btn-lg" value="Sign up" style="margin: auto; background-color: #0275d8; !important">{{ signup.signup }}</button>
          </div>
      </form>
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>

</body>

</html>